<div class="modal-body text-center" ng-if="mCtrl.$resolve.modalData.clientFirstName">
    <h1 ng-if="mCtrl.$resolve.modalData.communicationType === 'VIDEO'">Advsior missed {{mCtrl.$resolve.modalData.clientFirstName}} {{mCtrl.$resolve.modalData.clientLastName}}'s join session request.</h1>
    <h1 ng-if="mCtrl.$resolve.modalData.communicationType === 'PHONE'">{{mCtrl.$resolve.modalData.clientFirstName}} {{mCtrl.$resolve.modalData.clientLastName}} has cancelled phone session request.</h1>
    <a class="btn btn-success" ng-click="mCtrl.ok()">OK</a>
</div>
<div class="modal-body text-center" ng-if="!mCtrl.$resolve.modalData.clientFirstName">
    <h1>{{mCtrl.$resolve.modalData.firstName}} {{mCtrl.$resolve.modalData.lastName}} is not currently available.</h1>
    <a class="btn btn-success" ng-click="mCtrl.ok()">OK</a>
</div>