<div class="advisor-videoroom">
  <div class="meeting-progress-box">
    <div ng-if="conferenceCtrl.isWaitingRoomEnabled()"><i class="fa fa-circle fa-1 connecting" aria-hidden="true"></i> Connecting</div>
    <div ng-if="conferenceCtrl.isConferenceStart() && connected">
      <div class="fl-lt"><i class="fa fa-circle fa-1 connected" aria-hidden="true"></i> {{conferenceCtrl.advisorName}}</div>
      <div class="fl-rt">{{conferenceCtrl.elapsed}}</div>
    </div>
  </div>
  <div class="video-box-margin" ng-mouseenter="conferenceCtrl.toggleVideoControls(true)" ng-mouseleave="conferenceCtrl.toggleVideoControls(false)">
    <div ng-if="conferenceCtrl.isConferenceStart()">
      <div ng-include="'app/shared/views/_mayday-conference-widget.html'"></div>
    </div>
  </div>
</div>