<div class="modal-body text-center">
  <h1>A client has requested for a phone session.</h1>
  <p>
    <span>Client Name: {{mCtrl.$resolve.modalData.clientFirstName}} {{mCtrl.$resolve.modalData.clientLastName}}<br/></span>
    <span>Phone Number: {{mCtrl.$resolve.modalData.callbackNumber}}</span>
  </p>
  <p><a class="btn btn-success" ng-click="mCtrl.ok()">Go to Client Profile</a></p>
  <p><a class="btn btn-link" ng-click="mCtrl.cancel()">Close</a></p>
</div>
    