<div class="cancel-appointment-popover text-center">
  <p>Are you sure you want to cancel?</p>
  <div ng-show="!isGiveReason" class="row">
    <div class="col-sm-6"><button class="btn btn-default btn-block" ng-click="hidePopover()" data-elm-id="{{automationId({elmName: 'cancel-appointment-popover-no', elmType: 'button'})}}">No, I changed my mind</button></div>
    <div class="col-sm-6"><button class="btn btn-primary btn-block" ng-click="nextStep()" data-elm-id="{{automationId({elmName: 'cancel-appointment-popover-yes',elmType: 'button'})}}">Yes, I’m sure</button></div>
  </div>
  <div ng-show="isGiveReason">
    <div class="form-group">
      <textarea class="form-control" rows="3" placeholder="Type in your reason for cancelling" ng-model="textReason" maxlength="300"></textarea>
    </div>
    <div class="text-right">
      <span class="pull-left">{{ 300 - textReason.length }} characters left</span>
      <button class="btn btn-default" ng-click="hidePopover()" data-elm-id="{{automationId({elmName: 'cancel-appointment-popover-calcel', elmType: 'button'})}}">Cancel</button>
      <button class="btn btn-primary" ng-click="cancelEvent()" analytics-on="click" analytics-event="cancelled appointment" analytics-category="Advisor - Calendar / Scheduling" data-elm-id="{{automationId({elmName: 'cancel-appointment-popover-submit', elmType: 'button'})}}">Submit</button>
    </div>
  </div>
</div>
