<div class="modal-body meeting-card">
  <button class="btn btn-link close-button" ng-click="cpCtrl.closeClientProfileCard()"><i class="fa fa-times"></i></button>
  <div class="action-buttons">
    <button class="btn btn-primary btn-block" data-elm-id="{{getAutomationId('view-client-profile','button')}}">View Profile</button>
    <button class="btn btn-default btn-block" data-elm-id="{{getAutomationId('email-client','button')}}">Email Client</button>
  </div>
  <h4>Marcus Alonso</h4>
  <p><strong>Callback Number</strong> 1-123-1234</p>
  <p class="spacer"><strong>Age</strong> 47</p>
  <p><strong>When</strong> Monday 05/16/16 at 9:00am</p>
  <p class="spacer"><strong>Notes</strong></p>
  <ul class="notes-list">
    <li>
      <p class="note-caption">Advisor's Name 2 hrs ago</p>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisi sem, porta ut fringilla in, pharetra id.</p>
    </li>
    <li>
      <p class="note-caption">Advisor's Name 2 hrs ago</p>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisi sem, porta ut fringilla in, pharetra id.</p>
    </li>
    <li>
      <p class="note-caption">Advisor's Name 2 hrs ago</p>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisi sem, porta ut fringilla in, pharetra id.</p>
    </li>
    <li>
      <p class="note-caption">Advisor's Name 2 hrs ago</p>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisi sem, porta ut fringilla in, pharetra id.</p>
    </li>
    <li>
      <p class="note-caption">Advisor's Name 2 hrs ago</p>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisi sem, porta ut fringilla in, pharetra id.</p>
    </li>
    <li>
      <p class="note-caption">Advisor's Name 2 hrs ago</p>
      <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nisi sem, porta ut fringilla in, pharetra id.</p>
    </li>
  </ul>
</div>
