<div id="toast-container" class="toast-top-left conf-toast-container faa-horizontal animated js-conf-toast-container" aria-live="polite" role="alert">
  <div class="toast" ng-if="!conferenceCtrl.appointmentObj">
    <div><strong>{{conferenceCtrl.clientData.clientFirstName}} {{conferenceCtrl.clientData.clientLastName}}</strong> has requested a Video Session. Please accept</div>
    <div><i class="fa fa-phone faa-ring animated"></i> She has been waiting: {{conferenceCtrl.elapsed}}</div>
    <a class="btn btn-primary" ng-click="conferenceCtrl.videoAccept()">Accept</a>
    <a class="btn btn-success" ng-click="conferenceCtrl.videoDismiss()">Decline</a>
  </div>
  <div class="toast" ng-if="conferenceCtrl.appointmentObj">
    <div>Your meeting with <strong>{{conferenceCtrl.appointmentObj.clientFirstName}} {{conferenceCtrl.appointmentObj.clientLastName}}</strong> to discuss <strong>{{conferenceCtrl.appointmentObj.appointmentReason}}</strong> begins in 15 min.</div>
    <a class="btn btn-primary" ng-click="conferenceCtrl.callRequestDismiss()">Dismiss</a>
    <a class="btn btn-success">Go to profile</a>
  </div>
</div>
