<button ng-if="disabled != 'true'" popover-placement="bottom" uib-popover-template="'app/advisor/dashboard/views/cancelappointmentpopover.html'" popover-append-to-body="true" popover-trigger="outsideClick" class="fc-cancel-event btn btn-default" ng-click="showPopover($event)" data-elm-id="{{automationId({elmName:'cancel-appointment',elmType: 'button'})}}">Cancel</button>
<div ng-if="preTitle != 'undefined'" class="fc-pre-title">{{ preTitle }}</div>
<div ng-if="title" class="fc-title">{{ title }}</div>
<div ng-if="description" class="fc-description">{{ description }}</div>
