<div class="advisor-dashboard">
  <div class="row">
   <div us-spinner="{radius:14, width:5, length: 10}" spinner-on="DashboardCtrl.rendering"></div>
    <div class="col-md-9 advisor-calendar">
      <div calendar="advisorMyCal" ui-calendar="DashboardCtrl.calendarConfig" ng-model="DashboardCtrl.eventSources"></div>
    </div>
    <div class="col-md-3 right-column">
      <div ng-include="'app/advisor/dashboard/views/_conference_widget.html'"></div>
      <div advisor-task title="Tasks" show-filter class="advisor-task clearfix"></div>
    </div>
  </div>
</div>
