.client-dashboard {
  padding-bottom: $space-sm * 5;
  .chart-container {
    padding-bottom: $space-sm * 3;
    padding-top: $space-sm * 3;
  }
  .right-column {
    border-left: 1px solid $color-c15;
    background-color: $color-c20;
    margin-top: -1px;
    .widget {
      border-top: 1px solid $color-c15;
      padding-top: $space-md;
      margin-bottom: $space-md;
      .control-group {
        margin: 0 (-$space-md);
        padding: $space-md;
        border-bottom: 1px solid $color-c15;
        .add-link {
          float: right;
          margin-top: 3px;
          font-size: $font-size-extra-small;
        }
      }
    }
    .appointment-box {
      text-align: center;
      font-size: $font-size-small;
    }
    .advisor-profile-box {
      font-size: $font-size-small;
      .profile-pic {
        width: $unit * 12;
        height: $unit * 13;
        border: 1px solid $color-c15;
      }
      .profile-desc {
        padding-top: $unit * 2;
        padding-bottom: 0;
      }
    }
    .title {
      font-size: 18px;
    }
    .hr {
      height: 1px;
      border-top: 1px solid #ccc;
      margin: 1em 0;
      margin-left: -20px;
      margin-right: -20px;
    }
    .button {
      margin: 15px auto;
      .glyphicon {
        top: 2px;
      }
    }
  }
  .flow-chart {
    margin-right: -20px;
    .tab-content {
      padding-right: 20px;
    }
  }
  .client-dashboard-loader {
    text-align: center;
    margin-top: 25%;
    margin-bottom: 24%;
    padding-bottom: 4px;
  }
}

.show-sandbox-popover {
  width: 200px;
}
