.client-dashboard {
  .client-goals {
    .data-column {
      .title {
        font-weight: bold;
      }
      .goals-list {
        padding: 0;
        margin-bottom: $space-lg;
        border-bottom: 1px solid $color-c15;
        list-style-type: none;
        font-size: $font-size-small;
        > li {
          border-top: 1px solid $color-c15;
          &.active {
            border-left: $unit solid $color-c1;
            background: $color-c20;
            padding-left: $space-sm;
          }
          > a {
            display: block;
            padding: ($space-sm + 2) $space-md ($space-sm + 2) 0;
            color: $color-c3;
            text-decoration: none;
            .status {
              float: right;
              font-size: $font-size-base;
              position: relative;
              top: 1px;
            }
          }
        }
      }
    }
  }
  .goal-tracking {
    padding-bottom: 50px;
    margin-right: -20px;
    .info-box {
      border-bottom: 1px solid #dbdbdb;
      padding: 25px 20px 25px 0;
      margin-bottom: 25px;
    }
    .all-charts {
      margin-right: 0;
    }
    .highcharts-container {
      margin: 0 auto;
    }
    .goal-details {
      padding-bottom: 50px;
      > .row {
        border-bottom: 1px solid #dbdbdb;
        margin-right: 0;
      }
      .help-icon {
        font-size: 18px;
        color: #2b4460;
      }
      .detail-table {
        position: relative;
        .edit-link {
          position: absolute;
          right: 10px;
          top: 0;
        }
        .row {
          border-bottom: 1px solid #dbdbdb;
          padding: 35px 0 35px 15px;
          &:last-child {
            border-bottom: 0;
          }
          .key {
            color: #bc894d;
            margin-bottom: 0;
            .help-icon {
              position: absolute;
              margin: -3px 0 0 5px;
            }
          }
          .value {
            font-size: 20px;
            margin-bottom: 0;
          }
          .note {
            font-size: 12px;
            color: #999;
            margin: 10px 0 0;
          }
        }
      }
      .linked-accounts {
        margin-top: 30px;
        padding-right: 20px;
        .foot-note {
          color: #999;
          font-size: 12px;
          font-style: italic;
        }
      }
    }
  }
}
