.charts {
  position: relative;
  .hc-chart {
    width: 100%;
    position: relative;
    float: left;
    margin: 0 auto;
    overflow: visible !important;
    z-index: 1 !important;
  }
  svg {
    overflow: visible !important;
    z-index: 1 !important;
  }
  .highcharts-container {
    overflow: visible !important;
    margin-top: -$space-sm;
  }
  .expand-collapse-chart {
    top: $space-sm;
    z-index: 2;
    position: absolute;
    right: 0;
    font-size: $font-size-extra-small;
    color: $color-c4;
    a {
      text-decoration: none;
    }
    a:hover {
      color: $color-c18;
    }
  }
  .tooltip-format {
    width: 210px;
    font-size: $font-size-extra-small;
    padding: $unit $unit 0px $unit;
    position: relative;
    float: left;
    .age-col {
      padding: 0 0 $space-sm 0;
    }
    hr {
      padding: 0;
      margin: 0;
      border-color: $color-c15;
      margin-left: -$unit * 3;
      margin-right: -$unit * 3;
    }
    .detail-container {
      border-bottom: 1px solid $color-c15;
      position: relative;
      float: left;
      width: 100%;
      padding: $space-sm 0 $space-sm 0;
      .fl-left {
        position: relative;
        float: left;
      }
      .fl-right {
        position: relative;
        float: right;
      }
    }
    .no-border {
      border: 0;
    }
  }
}
#sandbox_controls,
#ad-hoc-call-controls {
  .phone-icon {
    padding-left: $unit * 4;
  }
  .fa-question-circle {
    color: $color-c1;
  }
  .btn-group,
  .btn-group .btn,
  .dropdown-menu {
    width: 100%;
    text-align: left;
    border-color: $color-c15;
  }
  .caret {
    float: right;
    margin-top: $space-sm;
    color: $color-c15;
  }
  .slider-horizontal {
    margin-top: $space-lg;
    margin-bottom: $space-lg !important;
  }
  .slider-track {
    height: 2px;
    background-color: $color-c15;
  }
  .slider-handle {
    margin-top: -$space-sm;
    background-image: linear-gradient(to bottom, $color-c10 0%, $color-c10 100%);
    border: 1px solid $color-c26;
  }
  .slider-tick {
    margin-top: -$unit;
    width: $space-sm;
    height: $space-sm;
    background-image: linear-gradient(to bottom, $color-c15 0%, $color-c15 100%);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .slider-tick.round:nth-child(4), .slider-tick.round:nth-child(6) {
    border-radius: 0;
    width: 2px;
    margin-left: 0px;
  }
  .slider-selection {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .in-selection {
    background-image: linear-gradient(to bottom, $color-c15 0%, $color-c15 100%);
    background-repeat: repeat-x;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .tooltip.top .tooltip-arrow {
    border-top-color: $color-c12;
  }
  .tooltip-inner {
    background-color: $color-c13;
    color: $color-c18;
  }
  .slider-tick-label-container {
    margin-left: -2px !important;
  }
  .slider-tick-label:nth-child(1) {
    float: left;
    text-align: left;
  }
  .slider-tick-label:nth-child(2) {
    float: right;
    text-align: right;
    margin-right: -2px;
    width: auto !important;
  }
  .tooltip.in {
    opacity: 1.9;
  }
  .slider .tooltip.top {
    margin-top: -$unit * 8;
  }
}