<nav class="navbar navbar-inverse navbar-static-top no-margin js-navbar" ng-if="!ClientCtrl.$state.includes('**.onboarding.**')">
  <div class="container">
    <div class="row">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" data-elm-id="{{getAutomationId('my-advisor-navbar','link')}}">MyAdvisor</a>
      </div>
      <div id="navbar" class="navbar-collapse" uib-collapse="">
        <ul class="nav navbar-nav navbar-left">
          <li ng-class="{ active: ClientCtrl.$state.includes('**.dashboard.**') }"><a ui-sref=".dashboard" data-elm-id="{{getAutomationId('dashboard-navbar','link')}}">{{ AdvisorCtrl.stringConstants.advisor.performance.navTitle }}Dashboard</a></li>
          <li ng-class="{ active: ClientCtrl.$state.includes('**.appointment.**') }"><a ui-sref=".appointment.upcoming-appointments" data-elm-id="{{getAutomationId('appointment-navbar','link')}}">Appointment</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <div class="user-badge client">
            <div class="details">
              <span class="name">Mary Alonso</span>
            </div>
            <i class="fa fa-chevron-down down-pointer"></i>
          </div>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div ui-view></div>
