.accordion-table {
  font-size: $font-size-small;
  .accordion-header {
    padding-right: $space-md;
    font-family: $font-bold;
    font-size: $font-size-base;
  }
  .panel-group {
    border-top: 1px solid $color-c15;
    margin-bottom: $unit * 3;
    .panel {
      border: 0;
      margin: 0;
      box-shadow: none;
      .panel-heading {
        position: relative;
        background: none;
        border-bottom: 1px solid $color-c15;
        padding: 0;
        .panel-title {
          padding-right: $space-md;
          font-weight: normal;
          font-size: $font-size-small;
        }
        a {
          display: block;
          outline: none;
          padding: $space-sm 0 $space-sm ($unit * 3);
          &:hover,
          &:focus {
            text-decoration: none;
          }
          .fa-caret-right,
          .fa-caret-down {
            position: absolute;
            left: 0;
            top: 8px;
            font-size: $font-size-base;
          }
          .amount {
            float: right;
          }
        }
      }
      .panel-body {
        border-top: 0;
        padding: 0;
        .contents {
          border-bottom: 1px solid $color-c15;
        }
        .sub-items {
          list-style-type: none;
          margin: 0 0 0 ($unit * 3);
          padding: 0;
          max-height: 200px;
          overflow: auto;
          > li {
            @include clearfix;
            border-bottom: 1px solid $color-c15;
            padding: $space-sm $space-md $space-sm 0;
            &:last-child {
              border-bottom: 0;
            }
            > a {
              float: left;
              width: 150px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .sub-items {
              margin: $space-sm (-$space-md) (-$space-sm) 0;
              border-top: 1px solid $color-c15;
              max-height: none;
              > li {
                padding-left: $space-sm;
                &:last-child {
                  border-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  .footnote {
    font-size: $font-size-extra-small;
    font-style: italic;
  }
}
