.button-on-tabset {
  float: right;
  margin: 24px 20px 0 0;
}

.nav-tabs {
  margin: 0;
  padding: 15px 0;
  border-bottom: 1px solid #dbdbdb;
  font-size: 22px;
  > li {
    margin-right: 25px;
    > a,
    &.active > a {
      border: 0;
      color: #2b4460;
      padding-left: 0;
      padding-right: 0;
      &:hover,
      &:focus {
        background: none;
        border: 0;
        color: #2b4460;
      }
    }
    &.active {
      font-family: $font-bold;
    }
  }
}
