.page-tabs {
  background: #f5f5f5;
  border-bottom: 1px solid #dbdbdb;
  padding-top: 20px;
  font-size: 18px;
  .tabset {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: -1px;
    overflow: hidden;
    > li {
      float: left;
      margin-right: 30px;
      > a {
        display: block;
        padding: 10px 0;
        color: #000;
        text-decoration: none;
        &.active {
          border-bottom: 1px solid #000;
          font-weight: bold;
        }
      }
    }
  }
}

.page-tab-content {
  margin-top: $space-md * 2;
  .column-wrapper {
    margin-top: $space-md * 2;
    margin-left: 0;
    border-top: 1px solid $color-c15;
    .data-column {
      padding: ($space-sm * 3) 0 0;
      border-right: 1px solid $color-c15;
    }
    .chart-column {
      padding-top: $space-sm * 3;
    }
  }
}
