<div class="modal-body text-center">
  <h1>Are you sure you want to leave?</h1>
  <p>Leaving this page will disconnect your video conference with your advisor.</p>
	<p><a class="btn btn-success" ng-click="dlpCtrl.sayYes()">Leave This Page</a></p>
	<p><a class="btn btn-link" ng-click="dlpCtrl.sayNo()">Stay on This Page</a></p>
</div>