<div class="modal-body text-center">
  <h1>We are going to log you out of this session due to your inactivity for 29:{{seconds}} minutes.</h1>
  <h1>Click Okay if you wish to remain in this session.</h1>
	<p><a class="btn btn-success" ng-click="idlCtrl.sayYes()" data-elm-id="{{getAutomationId('idle-timeout','button')}}">Okay</a></p>
</div>