<div id="session" class="video-session">
  <div class='show-call-details'>
    <div class="fl-lt"><i class="fa fa-circle fa-1 connected" aria-hidden="true"></i> {{conferenceCtrl.advisorName}}</div>
    <div class="fl-rt">{{conferenceCtrl.elapsed}}</div>
  </div>
  <ot-layout props="{animate:true,bigFixedRatio:true}" id="clientlayout">
      <ot-subscriber ng-repeat="stream in streams | filter:notMine track by $index"
          stream="stream"
          props="faceSuscriberPropsHD"
          ng-class="{OT_big: (expanded == undefined && stream.name == 'screen') || expanded}"
          ng-dblclick="$emit('changeSize')">
              <!-- <subscriber-stats stream="stream"></subscriber-stats>
              <restrict-framerate></restrict-framerate>
              <mute-video mute-subscriber></mute-video>
              <expand-button></expand-button> -->
      </ot-subscriber>
  </ot-layout>
  <div class="waiting-room-loader">
    <div ng-if="!streams.length" class="video-loader">
      <i class="fa fa-spinner fa-spin fa-3x fa-fw loader"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div id="facePublisher"
      draggable="true">
      <ot-publisher id="facePublisher"
          props="facePublisherProps">
      </ot-publisher>
      <mute-video publisher-id="facePublisher" mute-publisher></mute-video>
  </div>
  <div id="bottomBar" class="buttons-verticle bottom-control-bar" ng-if="streams.length">
    <a class="btn btn-info video-btn btn-bgcolor" publisher-id="facePublisher" mute-publisher  ng-click="conferenceCtrl.muteVideo = !conferenceCtrl.muteVideo">
      <i class="fa fa-video-camera fa-5" ng-class="{'enable-control' : !conferenceCtrl.muteVideo, 'disable-control': conferenceCtrl.muteVideo}"></i>
    </a>
    <a class="btn btn-info video-btn btn-bgcolor" publisher-id="facePublisher" mute-publisher-audio ng-click="conferenceCtrl.micOff = !conferenceCtrl.micOff">
      <i ng-class="{'fa fa-microphone fa-5' : !conferenceCtrl.micOff, 'fa fa fa-microphone-slash fa-5': conferenceCtrl.micOff}"></i>
    </a>
    <a ng-click="conferenceCtrl.videoSessionLogout()" class="btn btn-info video-btn hangon-bgcolor">
      <i class="fa fa-phone fa-5" aria-hidden="true"></i>
    </a>
    <!-- <a class="btn btn-info video-btn btn-bgcolor" ng-click="muteAudio()">
      <i ng-class="{'fa fa-volume-up enable-control' : !conferenceCtrl.muteAudio, 'fa fa-volume-off disable-control': conferenceCtrl.muteAudio}" aria-hidden="true"></i>
    </a> -->
    <a class="btn btn-info video-btn btn-bgcolor" ng-click="conferenceCtrl.expandCollapseScreen()">
      <i ng-class="{'fa fa-expand fa-5' : !conferenceCtrl.isExpand, 'fa fa-compress fa-5': conferenceCtrl.isExpand}" aria-hidden="true"></i>
    </a>
  </div>
</div>