<div class="advisor-task edit-task">
  <p class="name" ng-if="atdCtrl.isShowAdvisor">{{ task.name }}</p>
  <div ng-hide="atdCtrl.isEdit">
    <p>{{ task.description }}</p>
    <p class="due-date" ng-if="task.dueDate" ng-class="{ 'past-due': atdCtrl.isPastDue(task.dueDate), 'about-to-due': atdCtrl.isAboutToDue(task.dueDate) }">Due {{ atdCtrl.getFormattedDate(task.dueDate) }}</p>
    <p class="time">{{ task.advisorName }} &#9679; {{ atdCtrl.getFormattedDate(task.createdDate, true) }}</p>
    <div class="action-buttons clearfix">
      <button class="btn btn-primary pull-right" ng-click="atdCtrl.editTask(task)" data-elm-id="{{getAutomationId('edit','button')}}">Edit</button>
      <label class="mark-complete">
        <input type="checkbox" value="" ng-click="atdCtrl.checkMarkTaskComplete(task)" ng-model="atdCtrl.isMarkCompleteChecked" data-elm-id="{{getAutomationId('mark-complete','input-checkbox')}}"> MARK COMPLETE
      </label>
    </div>
  </div>
  <div ng-if="atdCtrl.isEdit">
    <div class="form-group">
      <textarea name="days" class="form-control edit-task" rows="9" ng-model="task.tempDescription" maxlength="300">{{ task.description }}</textarea>
    </div>
    <div class="form-inline" ng-if="task.dueDate">
      <label>Due</label>
      <div class="form-group">
        <select class="form-control" ng-options="month.text for month in atdCtrl.months" ng-model="atdCtrl.selectedMonth" data-elm-id="{{getAutomationId('date-month-select','select')}}">
          <option value="">mm</option>
        </select>
        <select class="form-control" ng-options="day.text for day in atdCtrl.days" ng-model="atdCtrl.selectedDay" data-elm-id="{{getAutomationId('date-day-select','select')}}">
          <option value="">dd</option>
        </select>
        <select class="form-control" ng-options="year.text for year in atdCtrl.years" ng-model="atdCtrl.selectedYear" data-elm-id="{{getAutomationId('date-year-select','select')}}">
          <option value="">yy</option>
        </select>
      </div>
      <span class="error" ng-show="atdCtrl.isIncompleteDueDate()">Must be complete</span>
      <span class="error" ng-show="atdCtrl.isPastDate()">Can not be past date</span>
    </div>
    <div class="action-buttons clearfix">
      <div class="pull-right">
        <button class="btn btn-default" ng-click="atdCtrl.cancelEdit(task)"  data-elm-id="{{getAutomationId('cancel','button')}}">Cancel</button>
        <button class="btn btn-primary" ng-click="atdCtrl.updateTask(task)" data-elm-id="{{getAutomationId('update-task','button')}}" ng-disabled="atdCtrl.isEditTaskInvalid(task)">Save</button>
      </div>
      <span class="counter">{{ 300 - task.tempDescription.length }} characters left</span>
    </div>
  </div>
</div>
