<div class="btn-group task-filter" uib-dropdown ng-if="atdCtrl.isShowFilter">
  <button class="btn btn-link" uib-dropdown-toggle data-elm-id="{{getAutomationId('advisor-drop-down','button')}}">
    {{ atdCtrl.taskFilterLabel }} <i class="fa fa-caret-down"></i>
  </button>
  <ul class="dropdown-menu" uib-dropdown-menu>
    <li><a href="#" ng-click="atdCtrl.filterTask(true)" data-elm-id="{{getAutomationId('advisor-drop-down-global','link')}}">{{ atdCtrl.taskFilterLabels[0] }}</a></li>
    <li><a href="#" ng-click="atdCtrl.filterTask()" data-elm-id="{{getAutomationId('advisor-drop-down-client','link')}}">{{ atdCtrl.taskFilterLabels[1] }}</a></li>
  </ul>
</div>
<button class="btn btn-link new-task" ng-if="atdCtrl.isShowNewTaskButton" popover-placement="bottom-right" uib-popover-template="'app/advisor/shared/views/_create_new_task.html'" popover-append-to-body="true" popover-trigger="outsideClick" ng-click="atdCtrl.createNewTask()" data-elm-id="{{getAutomationId('advisor-create-new-task','link')}}"><i class="fa fa-pencil-square-o"></i></button>
<h4>{{ atdCtrl.title }}</h4>
<ul class="task-list">
  <li ng-repeat="task in atdCtrl.tasks" popover-placement="left-top" uib-popover-template="'app/advisor/shared/views/_advisor_task_detail.html'" popover-append-to-body="true" popover-trigger="outsideClick" ng-click="atdCtrl.cancelEdit()" data-elm-id="{{getAutomationId('advisor-task-detail','link',$index+1)}}">
    <div class="task-item">
      <p class="name" ng-if="atdCtrl.isShowAdvisor">{{ task.name }}</p>
      <p class="description">{{ task.description }}</p>
      <p class="due-date" ng-if="task.dueDate" ng-class="{ 'past-due': atdCtrl.isPastDue(task.dueDate), 'about-to-due': atdCtrl.isAboutToDue(task.dueDate) }">Due {{ atdCtrl.getFormattedDate(task.dueDate) }}</p>
      <p class="time">{{ task.advisorName }} &#9679; {{ atdCtrl.getFormattedDate(task.createdDate, true) }}</p>
    </div>
  </li>
</ul>
