<div class="advisor-task edit-task new-task">
  <p class="text-primary"><strong>New Task</strong></p>
  <div class="form-inline due-date-input">
    <label>Due</label>
    <div class="form-group">
      <select class="form-control" ng-options="month.text for month in atdCtrl.months" ng-model="atdCtrl.selectedMonth">
        <option value="">mm</option>
      </select>
      <select class="form-control" ng-options="day.text for day in atdCtrl.days" ng-model="atdCtrl.selectedDay">
        <option value="">dd</option>
      </select>
      <select class="form-control" ng-options="year.text for year in atdCtrl.years" ng-model="atdCtrl.selectedYear">
        <option value="">yy</option>
      </select>
      <span class="error" ng-show="atdCtrl.isIncompleteDueDate()">Must be complete</span>
      <span class="error" ng-show="atdCtrl.isPastDate()">Can not be past date</span>
    </div>
  </div>
  <div class="form-group">
    <textarea name="days" class="form-control edit-task" rows="6" maxlength="300" placeholder="Type Something" ng-model="atdCtrl.newTask.description"></textarea>
  </div>
  <div class="action-buttons clearfix">
    <div class="pull-right">
      <button class="btn btn-default" ng-click="atdCtrl.hideNewTaskPopup()">Cancel</button>
      <button class="btn btn-primary" ng-click="atdCtrl.saveNewTask()" ng-disabled="atdCtrl.isNewTaskInvalid()">Save</button>
    </div>
    <span class="counter">{{ 300 - atdCtrl.newTask.description.length }} characters left</span>
  </div>
</div>
