<div class="advisor-task edit-task new-task">
  <p class="text-primary"><strong>New Note</strong></p>
  <div class="form-group">
    <textarea name="days" class="form-control edit-task" rows="6" maxlength="500" placeholder="Type Something" ng-model="inCtrl.newNote.description"></textarea>
  </div>
  <div class="action-buttons clearfix">
    <div class="pull-right">
      <button class="btn btn-default" ng-click="inCtrl.hideNotePopup()">Cancel</button>
      <button class="btn btn-primary" ng-click="inCtrl.saveNewNote()" ng-disabled="inCtrl.isNewNoteInvalid()">Save</button>
    </div>
    <span class="counter">{{ 500 - inCtrl.newNote.description.length }} characters left</span>
  </div>
</div>
