<button class="btn btn-link new-task" popover-placement="bottom-right" uib-popover-template="'app/advisor/shared/views/_create_new_note.html'" popover-append-to-body="true" popover-trigger="outsideClick" ng-click="inCtrl.createNewNote()"><i class="fa fa-pencil-square-o"></i></button>
<h4>{{ inCtrl.title }}</h4>
<ul class="task-list">
  <li ng-repeat="note in inCtrl.notes" popover-placement="left-top" uib-popover-template="'app/advisor/shared/views/_internal_note_detail.html'" popover-append-to-body="true" popover-trigger="outsideClick" ng-click="inCtrl.cancelEdit()">
    <div class="task-item">
      <p class="description">{{ note.description }}</p>
      <p class="time">{{ note.advisorName }} &#9679; {{ inCtrl.getFormattedDate(note.createdDate, true) }}</p>
    </div>
  </li>
</ul>
