<div class="advisor-task edit-task">
  <div ng-hide="inCtrl.isEdit">
    <p>{{ note.description }}</p>
    <p class="time">{{ note.advisorName }} &#9679; {{ inCtrl.getFormattedDate(note.createdDate, true) }}</p>
    <div class="action-buttons clearfix">
      <button class="btn btn-primary pull-right" ng-click="inCtrl.editNote(note)">Edit</button>
    </div>
  </div>
  <div ng-if="inCtrl.isEdit">
    <div class="form-group">
      <textarea name="days" class="form-control edit-task" rows="9" ng-model="note.tempDescription" maxlength="500">{{ note.description }}</textarea>
    </div>
    <div class="action-buttons clearfix">
      <div class="pull-right">
        <button class="btn btn-default" ng-click="inCtrl.cancelEdit(note)">Cancel</button>
        <button class="btn btn-primary" ng-click="inCtrl.updateNote(note)" ng-disabled="inCtrl.isEditNoteInvalid(note)">Save</button>
      </div>
      <span class="counter">{{ 500 - note.tempDescription.length }} characters left</span>
    </div>
  </div>
</div>
