<div class="modal-body">
  <div class="text-center">
    <p>Are you sure your task was complete?</p>
    <div class="row">
      <div class="col-sm-6">
        <button class="btn btn-default btn-block" ng-click="mtcCtrl.closeMarkCompletePopup()" data-elm-id="{{getAutomationId('mark-task-change-mind','button')}}">No, I changed my mind</button>
      </div>
      <div class="col-sm-6">
        <button class="btn btn-primary btn-block" ng-click="mtcCtrl.markTaskComplete()" data-elm-id="{{getAutomationId('mark-task-complete','button')}}">Yes, I’m sure</button>
      </div>
    </div>
  </div>
</div>
