<div class="modal-body add-goal">
  <button class="btn btn-link close-button" ng-click="goalsCtrl.closeModal()"><i class="fa fa-times"></i></button>
  <div class="container">
    <h1>My Education Goal</h1>
    <p class="text-large">Investor Profile</p>
    <p>Based on your answers we have determined that your Investor Profile is:</p>
    <h3>Aggressive</h3>
    <p>Does that sound correct to you?</p>
    <div class="buttons-list button-verticle input-form">
      <button class="btn btn-default">Yes, that looks right</button>
      <button class="btn btn-default">No, let’s try that again</button>
    </div>
  </div>
</div>
