<div class="modal-body add-goal">
  <button class="btn btn-link close-button" ng-click="goalsCtrl.closeModal()"><i class="fa fa-times"></i></button>
  <div class="container">
    <h1>My Education Goal</h1>
    <p class="text-large">Goal Information</p>
    <form action="" class="input-form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Expected Cost Per Year">
      </div>
      <div class="form-group">
        <select class="form-control">
          <option>Number of Years of Education</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <select class="form-control">
          <option>Anticipated Start Year</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </form>
  </div>
</div>
