<div class="modal-body add-goal">
  <button type="button" ng-click="mCtrl.cancel()" class="btn btn-link close-button" data-dismiss="modal"><i class="fa fa-times"></i></button>
  <div class="container">
    <h1>Education Goal</h1>
    <p class="text-large">Who is this education for?</p>
    <div class="buttons-list button-verticle input-form">
      <button class="btn btn-default">My Dependent</button>
      <button class="btn btn-default">Myself</button>
    </div>
  </div>
</div>
<span us-spinner="{radius:14, width:5, length: 10}" spinner-on="false"></span>
