<div class="modal-body add-goal">
  <button class="btn btn-link close-button" ng-click="$close()"><i class="fa fa-times"></i></button>
  <div class="container">
      <h1>My Major Expense Goal</h1>
    <p class="text-large">Goal Confirmation</p>
    <div class="confirmation-field">
      <div class="pull-left">Description</div>
      <div class="pull-right">{{goalConfirmationCtrl.getGoalData().name}}</div>
    </div>
    <div class="confirmation-field">
      <div class="pull-left">Down Payment Amount</div>
      <div class="pull-right">{{goalConfirmationCtrl.getGoalData().amount | currency:'$':2 }}</div>
    </div>
    <div class="confirmation-field">
      <div class="pull-left">Age I will need this</div>
      <div class="pull-right">40</div>
    </div>
    <div class="confirmation-field">
      <div class="pull-left">Are you planning to finance?</div>
      <div class="pull-right">{{goalConfirmationCtrl.getGoalData().planToFinance}}</div>
    </div>
    <div class="confirmation-field">
      <div class="pull-left">Investor Profile</div>
      <div class="pull-right">{{goalConfirmationCtrl.getGoalData().investmentObjective}}</div>
    </div>
    <div class="confirmation-field">
      <div class="pull-left">Funding Accounts</div>
      <div class="pull-right">RBC TFSA</div>
    </div>
    <div class="confirmation-field">
      <div class="pull-left">Importance of Goal</div>
      <div class="pull-right">{{goalConfirmationCtrl.getGoalData().importance}}</div>
    </div>
    <div class="buttons-list button-verticle input-form">
      <button class="btn btn-link" ui-sref="add-goal.major-expense-goal">Edit</button>
      <button class="btn btn-default" ng-click="goalConfirmationCtrl.goNext()">Finished</button>
      <button class="btn btn-default" ui-sref="add-goal.major-expense-goal">Add Another Major Expense</button>
    </div>
  </div>
</div>
<span us-spinner="{radius:14, width:5, length: 10}" spinner-on="goalConfirmationCtrl.showSpinner"></span>
