<div class="modal-body add-goal" ng-if="!goalTypesCtrl.showCurrentView">
  <button type="button" ng-click="$close()" class="btn btn-link close-button" data-dismiss="modal"><i class="fa fa-times"></i></button>
  <div class="container">
    <h1>Add Goal</h1>
    <p class="text-large">What type of goal would you like to add?</p>
    <div class="buttons-list button-verticle input-form">
      <a class="btn btn-default" ng-click="goalTypesCtrl.goNext('EDUCATION')">Education</a>
      <a class="btn btn-default" ng-click="goalTypesCtrl.goNext('PURCHASE')">Major Expense</a>
    </div>
  </div>
</div>
<span us-spinner="{radius:14, width:5, length: 10}" spinner-on="false"></span>
<div ui-view="modal"></div>