<div class="modal-body add-goal">
  <button type="button" ng-click="$close()" class="btn btn-link close-button" data-dismiss="modal"><i class="fa fa-times"></i></button>
  <div class="container" ng-show="!showSpinner">
    <h1>My Major Expense Goal</h1>
    <p class="text-large">Goal Information</p>
    <form role="form" class="input-form" name="goalInformation">
      <div class="form-group">
        <input type="input" class="form-control" ng-model="goalInformationCtrl.name" placeholder="Description" required>
      </div>
      <div class="form-group">
        <input type="input" class="form-control" ng-model="goalInformationCtrl.amount" placeholder="Down Payment Amount" required>
      </div>
      <p class="text-left">Are you planning to finance?</p>
      <div class="checkbox text-left">
        <label>
          <input type="checkbox" ng-model="goalInformationCtrl.planToFinance" ng-true-value="true" ng-false-value="false"> Yes
        </label>
      </div>
      <div class="checkbox text-left">
        <label>
          <input type="checkbox" ng-model="goalInformationCtrl.planToFinance" ng-true-value="false" ng-false-value="true" />No
        </label>
      </div>
      <div class="form-group">
        <select class="form-control" ng-init="goalInformationCtrl.investmentTimeframe='WITHIN_2_YEARS'" ng-model="goalInformationCtrl.investmentTimeframe" ng-options="timeframe.value as timeframe.name for timeframe in goalInformationCtrl.timeframeObj" required></select>
      </div>
    <button type="submit" class="btn btn-default btn-sm" ng-click="goalInformationCtrl.goNext()">Next</button>
    <!-- <a href="#" class="btn btn-default btn-sm" ng-click="goalInformationCtrl.goNext()">Next</a>-->    
 </form>
  </div>
</div>
<span us-spinner="{radius:14, width:5, length: 10}" spinner-on="showSpinner"></span>