<div class="modal-body add-goal">
  <button type="button" ng-click="$close()" class="btn btn-link close-button" data-dismiss="modal"><i class="fa fa-times"></i></button>
  {{goalImportanceCtrl.name}}
  <div class="container">
    <h1>My Major Expense Goal</h1>
    <p class="text-large"> How important is this purchase goal?</p>
    <form action="" class="input-form">
      <div class="checkbox text-left" ng-repeat="importance in goalImportanceCtrl.goalImportanceObj">
        <label>
        <input type="checkbox" ng-model="importance.checked" value="importance.value" ng-click="goalImportanceCtrl.updateSelection(importance)" />{{importance.label}}
        </label>
      </div>
    </form>
    <div>
      <a href="#" class="btn btn-default btn-sm" ng-click="goalImportanceCtrl.goNext()">Next</a>
    </div>
  </div>
</div>
<span us-spinner="{radius:14, width:5, length: 10}" spinner-on="false"></span>
