<div class="modal-body add-goal">
  <button type="button" ng-click="$close()" class="btn btn-link close-button" data-dismiss="modal"><i class="fa fa-times"></i></button>
  <div class="container">
    <h1>My Major Expense Goal</h1>
    <p class="text-large">Investment Objective</p>
    <p>Which of the following best describes your investment philosophy?</p>
    <h3>Secure</h3>
    <a href="#" class="btn btn-default btn-lg text-wrap bottom-margin" ng-click="investmentObjectiveCtrl.goNext('Secure')">
      You won’t jump into a financial risk unless there’s a very wide safety net to catch you— that’s a priority. You’re willing to accept minimum gains as long as you’re not varying far from your investing comfort zone.
    </a>
    <h3>Conservative</h3>
    <a href="#" class="btn btn-default btn-lg text-wrap bottom-margin" ng-click="investmentObjectiveCtrl.goNext('Conservative')">      You will bend a little bit in terms of accepting the ups and downs of your investments, but where there’s potential for capital growth is where you’re focused on chipping away at growth.
    </a>
    <h3>Very Conservative</h3>
    <a href="#" class="btn btn-default btn-lg text-wrap bottom-margin" ng-click="investmentObjectiveCtrl.goNext('VERY_CONSERVATIVE')">
      There is no wiggle room when it comes to the safety and security of your investments —you’re ok with taking small hits on the value of your investments if it means you’re still going to see small gains.
    </a>
    <h3>Growth</h3>
    <a href="#" class="btn btn-default btn-lg text-wrap bottom-margin" ng-click="investmentObjectiveCtrl.goNext('Growth')">
      You feel comfortable making risky decisions and would rather double down on your investments than play the long game and slowly watch your income grow.
    </a>
    <h3>Balanced</h3>
    <a href="#" class="btn btn-default btn-lg text-wrap bottom-margin" ng-click="investmentObjectiveCtrl.goNext('Balanced')">      You’re equally measured with moderate capital and income and you’re willing to accept the fluctuations in your investments, no matter how steep, as long as you maintain your returns.
    </a>
    <h3>Aggressive Growth</h3>
    <a href="#" class="btn btn-default btn-lg text-wrap bottom-margin" ng-click="investmentObjectiveCtrl.goNext('AGGRESSIVE_GROWTH')">
      You will leap into most investments without thinking twice. You’re focused on maximizing the capital growth of your investments and you’re willing to accept significant fluctuations in the value of your investments.
    </a>
    <div>
      <a href="#" class="btn btn-default btn-sm" ng-click="investmentObjectiveCtrl.goNext('Secure')">Next</a>
    </div>
  </div>
</div>
<span us-spinner="{radius:14, width:5, length: 10}" spinner-on="false"></span>
