<div class="modal-body add-goal">
  <button type="button" ng-click="$close()" class="btn btn-link close-button" data-dismiss="modal"><i class="fa fa-times"></i></button>
  <div class="container">
    <h1>My Major Expense Goal</h1>
    <p class="text-large">What type of expense is this?</p>
    <form action="" class="input-form">
      <div class="form-group">
        <select class="form-control" ng-init="expense.type = 'CHARITY'" ng-model="expense.type">
          <option value="CHARITY">Charity Gift</option>
          <option value="DEPENDANT">Dependent Support</option>
          <option value="HOME">Home Purchase / Upgrade</option>
          <option value="VACATION">Vacation</option>
          <option value="VEHICLE">Vehicle</option>
          <option value="WEDDING">Wedding</option>
          <option value="OTHER">Other</option>
        </select>
      </div>
      <div ng-if="expense.type === 'Vehicle'">
        <p>Are you planning to finance?</p>
        <div class="checkbox">
          <label>
            <input type="checkbox"> Yes
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> No
          </label>
        </div>
      </div>
    </form>
      <a href="#" class="btn btn-default btn-sm" ng-click="expenseTypeCtrl.goNext(expense.type)">Next</a>
  </div>
</div>
<span us-spinner="{radius:14, width:5, length: 10}" spinner-on="false"></span>
