<div class="modal-body add-goal">
  <button type="button" ng-click="$close()" class="btn btn-link close-button" data-dismiss="modal"><i class="fa fa-times"></i></button>
  <div class="container">
    <h1>My Major Expense Goal</h1>
    <p class="text-large">Risk Tolerance</p>
    <p>The risk tolerance for this specific account refers to the investor’s willingness and ability to withstand both fluctuations in the value of the investments and volatility in the investment returns. Volatility is a part of investing; the greater the volatility, the greater the possible gain and/or losses.
    </p>
    <p>
      Which of the following best describes your risk tollerance?
    </p>
    <form class="input-form" ng-init="riskToleranceCtrl.riskTolerance = 'Choose from these options'" ng-model="riskToleranceCtrl.riskTolerance">
      <div class="form-group">
        <select class="form-control" ng-init="riskToleranceCtrl.riskTolerance='VERY_LOW'" ng-model="riskToleranceCtrl.riskTolerance" ng-options="risk.value as risk.name for risk in riskToleranceCtrl.riskToleranceObject"></select>
      </div>
    </form>
      <a href="#" class="btn btn-default btn-sm" ng-click="riskToleranceCtrl.goNext(riskToleranceCtrl.riskTolerance)">Next</a>
  </div>
</div>