<div class="modal-body add-goal">
  <button type="button" ng-click="$close()" class="btn btn-link close-button" data-dismiss="modal"><i class="fa fa-times"></i></button>
  <div class="container">
    <h1>My Major Expense Goal</h1>
    <p class="text-large">Which account would you like to fund this goal?</p>
    <form action="" class="input-form">
      <div class="checkbox">
        <label>
          <input type="checkbox" checked> RBC Non-Registered Account
        </label>
      </div>
      <div class="buttons-list button-verticle input-form">
        <a class="btn btn-default" ng-click="">Add new funding account</a>
      </div>
    </form>
    <div>
      <a href="#" class="btn btn-link">I’ll do this later</a>
    </div>
    <div>
      <a href="#" class="btn btn-default btn-sm" ui-sref="add-goal.major-expense-goal.how-important">Next</a>
    </div>
  </div>
</div>
<span us-spinner="{radius:14, width:5, length: 10}" spinner-on="false"></span>
