<button type="button" ng-click="mCtrl.cancel()" class="btn btn-link close-button" data-dismiss="modal"><i class="fa fa-times fa-5"></i></button>
<div class="advisor-content" ng-repeat="advisor in onBoardCtrl.advisors">
  <div class="advisor-info">
    <p class="adv-name">{{advisor.firstName}} {{advisor.lastName}}</p>
    <span>
            <p class="blurText">Primary Hours</p>
            <p>{{advisor.primaryHours}}</p>
          </span>
  </div>
  <div class="advisor-photo">
    <img src="/assets/images/advisor.png" alt="Advisor Photo">
  </div>
  <div class="advisor-bio">
    <span><p class="blurText">Bio</p></span>
    <p>
      {{advisor.bio}}
    </p>
  </div>
  <div class="dialog-footer">
    <button class="btn btn-primary customButtom" ng-click="onBoardCtrl.confirmAdvisor($index)">Confirm Advisor</button>
  </div>
</div>
