<div class="modal-body text-center">
  <h1>In Order to Continue</h1>
  <p>We require this information as part of the MyAdvisor experience in order to make sure you’re aware of the latest activity related to your financial plan. </p>
  <a class="btn btn-success" ng-click="mCtrl.cancel()">Close</a>
</div>
