<button type="button" ng-click="mCtrl.cancel()" class="btn btn-link closeButton" data-dismiss="modal"><i class="fa fa-times fa-5"></i></button>
<videogular class="custom-video" vg-theme="config.theme.url" vg-auto-play="true" vg-player-ready="onPlayerReady($API)">
    <vg-media vg-src="config.sources" vg-tracks="config.tracks"></vg-media>
    <vg-overlay-play></vg-overlay-play>
</videogular>
<span us-spinner="{radius:14, width:5, length: 10}" spinner-on="false"></span>
