<div class="onboardingcontract">
  <div class="row">
    <div class="container">
      <div class="col-sm-12 ">
        <div class="col-md-2"></div>
        <div class="col-md-8 client-agreement">MyAdvisor Client Agreements</div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <form name="userForm" ng-submit="submitForm()" novalidate>
      <div class="container">
        <div class="col-sm-12">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
              <p>Primary Emails</p>
              <input class="input-custom" type="email" name="email" class="form-control" ng-model="onBoardCtrl.user.email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" ng-class="{borderRed : userForm.$invalid}" required>
              <i class="fa fa-envelope email-icon" aria-hidden="true"></i>
              <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Need a valid email address.</p>
            </div>
            <div>
              We’ll help you stay up to date with your finances by sending you account and appointment related reminders, administrative alerts, offers and emails that let you know whether you’re on track to meet your goals! Visit your MyAdvisor customer preferences page to change your email preferences.
            </div>
            <input type="checkbox" ng-model="onBoardCtrl.user.emailTrackAgree" ng-checked="onBoardCtrl.user.emailTrackAgree"><span ng-class="{blurText: !onBoardCtrl.user.emailTrackAgree}">&nbsp;&nbsp;I agree</span>
            <hr>
            <div class="legal-term blurText">
              <p>Legal Terms and Conditions</p>
              <p>
                Consectetur adipiscing elit. Sed mattis odio orci, at aliquet nibh fermentum in. Aliquam sed ex at augue pharetra mattis et eget arcu. Donec eu aliquet urna, vel congue ligula. Maecenas vestibulum risus vel consectetur ultricies. Nunc imperdiet neque tortor, eu ultrices mi ullamcorper vel. Duis facilisis porttitor ex, ut porttitor magna tempor sit amet. Duis porttitor libero magna, at iaculis ex auctor vel. Vestibulum at ligula condimentum, volutpat dui vitae, sagittis justo. Donec massa eros, ullamcorper vel diam vitae, imperdiet tristique enim. Aenean aliquam pretium posuere.
              </p>
              <p ng-click="onBoardCtrl.toggleShowMore()">
                Aenean sed efficitur nulla, eget commodo ante. Vestibulum mollis vitae orci quis tempus. Sed sagittis justo ut urna gravida efficitur in non nibh. Aenean ac posuere risus, quis facilisis mauris. Mauris viverra congue ante a viverra. Sed eleifend justo quis consequat malesuada. Suspendisse vel massa elementum est scelerisque auctor. Donec sed finibus ipsum. Phasellus dignissim felis ut vehicula pulvinar. Duis dictum erat id varius fermentum. Suspendisse sodales eu sem ac commodo. Vestibulum fermentum sodales suscipit. Aliquam vulputate dictum convallis. Aenean accumsan nisi at justo vehicula, in varius sem fermentum. Ut tempus tempor lorem, rutrum mattis neque ornare vel. Integer sed quam at elit consectetur pharetra et nec mi. Cras efficitur id lectus at finibus. Nunc eu tellus non quam efficitur porttitor. Quisque dapibus scelerisque nunc, ut aliquam erat lobortis id. Donec id condimentum metus. Donec scelerisque vitae nulla sit amet commodo. Cras ac
              </p>
              <span class="more_text" ng-if="onBoardCtrl.showMore">
                    This is the extra text, that will be shown after pressing the link above.
                </span>
              <hr>
            </div>
            <input type="checkbox" name="" ng-checked="onBoardCtrl.user.legalAgreement" ng-model="onBoardCtrl.user.legalAgreement"><span ng-class="{blurText: !onBoardCtrl.user.legalAgreement}">&nbsp;&nbsp;I’ve read and accept the terms & agreements</span>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
      <div class="footer-button">
        <hr>
        <button class="btn btn-primary customButtom" ng-class="{disableButton: userForm.$invalid}" ng-click="onBoardCtrl.submitLegalAgreement()" ng-disabled="userForm.$invalid">Continue to Next Step</button>
        <p>
          <a href="#" class="btn btn-link" ng-click="onBoardCtrl.noThanksClick()">No, thank's</a>
        </p>
      </div>
    </form>
  </div>
</div>
