﻿<div class="advisor-matched">
    <div class="steps-bar js-steps-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <ul class="list-inline steps">
                            <li>1. Advisor Match</li>
                            <li>2. Retirement Goal</li>
                            <li class="active">3. Investment Profile</li>
                        </ul>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="congrats-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <h1>Investment Goal Profile Questions</h1>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8 advisor-content">
                <h2>1. Determine timeframe</h2>
                <h4><strong>When will you first need the money from this account?*</strong></h4>
                <input type="radio" name="timeframe" value="1"> Within 2 years<br>
                <input type="radio" name="timeframe" value="2"> 2 to 4 years<br>
                <input type="radio" name="timeframe" value="3"> 5 to 9 years<br>
                <input type="radio" name="timeframe" value="4"> 10 years or more<br>
                <p>*We know this is a pretty obvious response based on the retirement age you told us, but we’re required to ask it for compliance reasons.</p>
                <div style="padding-top:10px;">
                    <button class="btn btn-primary customButtom">Continue</button>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8 advisor-content">
                <h2>2. Select your primary growth objective for this goal</h2>
                <h4><strong>Which of the following best describes your investment philosophy?</strong></h4>
                <img alt="Select below to see how your risk tolerance affects the graph" class="img-responsive" src="../../../../assets/images/chart.png" />
                <div class="col-md-12" style="text-align:center">
                    <div class="col-md-2">
                        <div class="circle"></div>
                        <div>Secure</div>
                    </div>
                    <div class="col-md-2">
                        <div class="circle"></div>
                        <div>Conservative</div>
                    </div>
                    <div class="col-md-2">
                        <div class="circle"></div>
                        <div>Very Conservative</div>
                    </div>
                    <div class="col-md-2">
                        <div class="circle"></div>
                        <div>Growth</div>
                    </div>
                    <div class="col-md-2">
                        <div class="circle"></div>
                        <div>Balanced</div>
                    </div>
                    <div class="col-md-2">
                        <div class="circle"></div>
                        <div>Aggresive Growth</div>
                    </div>
                </div>
                <div style="padding-top:10px;">
                    <button class="btn btn-primary customButtom">Continue</button>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8 advisor-content">
                <h2>3. Determine your risk tolerance</h2>
                <p>
                    The risk tolerance for this specific account refers to the investor’s willingness and ability to withstand both fluctuations in the value of the investments
                    and volatility in the investment returns. Volatility is a part of investing; the greater the volatility, the greater the possible gain and/or losses.
                </p>
                <h4> <strong> Which of the following best describes your risk tolerance? </strong></h4>
                <img alt="Select below to see how your risk tolerance affects the graph" class="img-responsive" src="../../../../assets/images/chart.png" />
                <div class="col-md-12" style="text-align:center">
                    <div class="col-md-2">
                        <div class="circle"></div>
                        <div>Very Low</div>
                    </div>
                    <div class="col-md-2">
                        <div class="circle"></div>
                        <div>Low</div>
                    </div>
                    <div class="col-md-2">
                        <div class="circle"></div>
                        <div>Below Average</div>
                    </div>
                    <div class="col-md-2">
                        <div class="circle"></div>
                        <div>Average</div>
                    </div>
                    <div class="col-md-2">
                        <div class="circle"></div>
                        <div>Above Average</div>
                    </div>
                    <div class="col-md-2">
                        <div class="circle"></div>
                        <div>High</div>
                    </div>
                </div>

                <div style="padding-top:10px;">
                    <button class="btn btn-primary customButtom">Continue</button>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="congrats-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center">
                        <button class="btn btn-primary customButtom">Continue to Next Step</button>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>