<div class="advisor-matched" ng-show="!onBoardCtrl.showSubmittig">
  <div class="steps-bar js-steps-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <ul class="list-inline steps">
              <li class="active">1. Advisor Match</li>
              <li>2. Retirement Goal</li>
              <li>3. Investment Profile</li>
            </ul>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="congrats-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <h1>Congrats! We have matched you with Johnathan!</h1>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="advisor-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="advisor-details">
              <div class="advisor-info">
                <p class="adv-name">{{onBoardCtrl.advisorDetails.firstName}} {{onBoardCtrl.advisorDetails.lastName}}</p>
                <span>
                      <p class="blurText">Primary Hours</p>
                      <p>{{onBoardCtrl.advisorDetails.primaryHours}}</p>
                    </span>
              </div>
              <div class="advisor-photo">
                <img src="/assets/images/advisor-profile-pic.png" alt="Advisor Photo">
              </div>
              <div class="advisorBio">
                <span>
                      <p class="blurText">Bio</p>
                      <p>
                        {{onBoardCtrl.advisorDetails.bio}}
                      </p>
                    </span>
              </div>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-button">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-primary customButtom" ng-click="onBoardCtrl.confirmAdvisor()">Confirm Advisor Selection</button>
          <p>
            <a href="#" class="btn btn-link" ng-click="onBoardCtrl.chooseAnotherAdvisor()">Choose Another Advisor</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="match-advisor-screen" ng-show="onBoardCtrl.showSubmittig">
  <div class="container find-advisor">
    <div class="col-sm-12 finding-advisor-text">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h1>We’re now finding an advisor that best matches you!<h1></div>
        <div class="col-md-3"></div>
      </div>
      <div class="col-md-12 spinner-container">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <span>
              <i class="fa fa-spinner fa-spin fa-3x fa-fw" style="font-size:124px;"></i>
              <span class="sr-only">Loading...</span>
            </span>
            <span class="illustration-icon"><img src="/assets/images/illustration-icon.png"></span>
          </div>
          <div class="col-md-3"></div>
      </div>
       <div class="col-sm-12 bottom-text">
        <div class="col-md-3"></div>
        <div class="col-md-6"><p>Based on your RBC account profile, we are able to search through our line of advisors that best fits you.</p></div>
        <div class="col-md-3"></div>
      </div>
    </div>
</div>
