<div class="send-msg-screen">
    <div class="col-sm-12 advisor-selected">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1>Great, you have selected Jonathan as your advisor!<h1>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="col-md-12 spinner-container">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <span class="enveloper-icon"><img src="/assets/images/envelope-icon.png"></span>
            <ul id="progress">
                <li>
                    <div id="layer1" class="ball"></div>
                    <div id="layer7" class="pulse"></div>
                </li>
                <li>
                    <div id="layer2" class="ball"></div>
                    <div id="layer8" class="pulse"></div>
                </li>
                <li>
                    <div id="layer3" class="ball"></div>
                    <div id="layer9" class="pulse"></div>
                </li>
                <li>
                    <div id="layer4" class="ball"></div>
                    <div id="layer10" class="pulse"></div>
                </li>
                <li>
                    <div id="layer5" class="ball"></div>
                    <div id="layer11" class="pulse"></div>
                </li>
                <li>
                    <div id="layer6" class="ball"></div>
                    <div id="layer12" class="pulse"></div>
                </li>
            </ul>
            <span class="advisor-icon"><img src="/assets/images/illustration-icon.png" class="advisorImg"></span>

        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="col-sm-12 bottom-text">
        <div class="col-md-3"></div>
        <div class="col-md-6"><p>We are now notifying Jonathan of the great news.</p></div>
        <div class="col-md-3"></div>
    </div>
    <div class="col-sm-12 footerButton">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <button class="btn btn-primary customButtom" ng-click="onBoardCtrl.setupRetirementGoal()">Continue to Setup Retirement Goal</button>
            <p>
                <a href="#" class="btn btn-link returnLink" ng-click="onBoardCtrl.returnToAdvisorSelection()">Return to Previous Step</a>
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
