﻿<div class="advisor-matched">
    <div class="steps-bar js-steps-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <ul class="list-inline steps">
                            <li>1. Advisor Match</li>
                            <li class="active">2. Retirement Goal</li>
                            <li>3. Investment Profile</li>
                        </ul>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="congrats-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <h1>Setting up retirement goal</h1>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8 advisor-content">
                <h2>1. Select employment status</h2>
                <h4>What is your current employment status?</h4>
                <select style="width:300px;height:40px;" ng-model="onBoardCtrl.selectStatus"
                        ng-options="option as option for option in onBoardCtrl.employmentStatus"
                        ng-init="onBoardCtrl.selectStatus='Employed'" ng-change="onBoardCtrl.selectStatus!=='Retired' ? onBoardCtrl.gotoAnchor('income') : onBoardCtrl.gotoAnchor('expense')"></select>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="container" ng-if="onBoardCtrl.selectStatus!=='Retired'">
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8 advisor-content">
                <h2 id="income">2. Add income</h2>
                <h4 ng-if="onBoardCtrl.selectStatus==='Employed'">
                    Enter current annual employment income
                </h4>
                <h4 ng-if="onBoardCtrl.selectStatus==='Unemployed'">
                    Upon employment, what do you expect to earn annually?
                </h4>
                <h4 ng-if="onBoardCtrl.selectStatus==='Student'">
                    Upon graduation, what do you expect to earn annually?
                </h4>
                <div class="input-group" style="width:300px">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-usd"></i>
                    </span>
                    <input type="text" class="form-control" ng-model="onBoardCtrl.annualIncome" />
                </div>
                <div style="padding-top:10px;" ng-if="onBoardCtrl.selectStatus==='Employed'">
                    <a>Paid Hourly? Calculate Annual Income</a>
                </div>
                <p ng-if="onBoardCtrl.selectStatus!=='Employed'">
                    *You may guess the amount, if you are not sure.
                </p>
                <div style="padding-top:10px;">
                    <button class="btn btn-primary customButtom" ng-click="onBoardCtrl.gotoAnchor('retirementage')">Continue</button>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="container" ng-if="onBoardCtrl.selectStatus!=='Retired'">
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8 advisor-content">
                <h2 id="retirementage">3. Select retirement age</h2>
                <h4>At what age will you retire?</h4>
                <select style="width:60px;height:40px;" ng-model="onBoardCtrl.selectAge"
                        ng-options="option as option for option in onBoardCtrl.retirementAge"
                        ng-init="onBoardCtrl.selectAge=65"></select>
                <div style="padding-top:20px;">
                    <button class="btn btn-primary customButtom" ng-click="onBoardCtrl.gotoAnchor('lifestyle')">Continue</button>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="container" ng-if="onBoardCtrl.selectStatus!=='Retired'">
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8 advisor-content">
                <h2 id="lifestyle">4. Select retirement lifestyle expenses</h2>
                <h4>When thinking about your lifestyle espense during retirement, what instinct fisrt come to mind:</h4>
                <input type="radio" name="lifestyle" value="1"> I'll spend a little less<br>
                <input type="radio" name="lifestyle" value="2" checked> Similar to how I live now<br>
                <input type="radio" name="lifestyle" value="2"> I'm going to live it up<br>
                <div style="padding-top:20px;">
                    <button class="btn btn-primary customButtom" ng-click="onBoardCtrl.gotoAnchor('investmentaccounts1')">Continue</button>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="container" ng-if="onBoardCtrl.selectStatus==='Retired'">
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8 advisor-content">
                <h2 id="expense">2. Current Expenses</h2>
                <h4>How would you estimate your current annual expenses?</h4>
                <p>Clothing & Personal Care</p>
                <div class="input-group" style="width:300px;padding-bottom:10px;">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-usd"></i>
                    </span>
                    <input type="text" class="form-control" ng-model="onBoardCtrl.clothingAndPersonalCare" />
                    <span class="input-group-addon">
                        per month
                    </span>
                </div>
                <p>Entertainment</p>
                <div class="input-group" style="width:300px;padding-bottom:10px;">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-usd"></i>
                    </span>
                    <input type="text" class="form-control" ng-model="onBoardCtrl.entertainment" />
                    <span class="input-group-addon">
                        per month
                    </span>
                </div>
                <p>Food & Groceries</p>
                <div class="input-group" style="width:300px;padding-bottom:10px;">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-usd"></i>
                    </span>
                    <input type="text" class="form-control" ng-model="onBoardCtrl.foodAndGroceries" />
                    <span class="input-group-addon">
                        per month
                    </span>
                </div>
                <p>Housing</p>
                <div class="input-group" style="width:300px;padding-bottom:10px;">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-usd"></i>
                    </span>
                    <input type="text" class="form-control" ng-model="onBoardCtrl.housing" />
                    <span class="input-group-addon">
                        per month
                    </span>
                </div>
                <p>Transportation</p>
                <div class="input-group" style="width:300px;padding-bottom:10px;">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-usd"></i>
                    </span>
                    <input type="text" class="form-control" ng-model="onBoardCtrl.transportation" />
                    <span class="input-group-addon">
                        per month
                    </span>
                </div>
                <p>Utilities</p>
                <div class="input-group" style="width:300px;padding-bottom:10px;">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-usd"></i>
                    </span>
                    <input type="text" class="form-control" ng-model="onBoardCtrl.utilities" />
                    <span class="input-group-addon">
                        per month
                    </span>
                </div>
                <p>Other</p>
                <div class="input-group" style="width:300px;padding-bottom:10px;">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-usd"></i>
                    </span>
                    <input type="text" class="form-control" ng-model="onBoardCtrl.other" />
                    <span class="input-group-addon">
                        per month
                    </span>
                </div>
                <div class="input-group" style="width:300px;padding-top:10px;padding-bottom:10px">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-usd"></i>
                    </span>
                    <input type="text" readonly class="form-control" ng-model="onBoardCtrl.monthlyTotal"/>
                    <span class="input-group-addon">
                        monthly
                    </span>
                </div>
                <div class="input-group" style="width:300px">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-usd"></i>
                    </span>
                    <input type="text" readonly class="form-control" ng-model="onBoardCtrl.monthlyTotal * 12"/>
                    <span class="input-group-addon">
                        annually
                    </span>
                </div>
                <div style="padding-top:20px;">
                    <button class="btn btn-primary customButtom" ng-click="onBoardCtrl.gotoAnchor('investmentaccounts2')">Continue</button>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8 advisor-content">
                <h2 ng-if="onBoardCtrl.selectStatus!=='Retired'" id="investmentaccounts1">5. Link RBC investment accounts*</h2>
                <h2 ng-if="onBoardCtrl.selectStatus==='Retired'" id="investmentaccounts2">3. Link RBC investment accounts*</h2>
                <h4>Your RBC Investment account**</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>ACCOUNT TYPE</th>
                            <th>INSTITUTION</th>
                            <th>12 DIGIT ACCOUNT NO.</th>
                            <th>BALANCE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox" name="accountType" value="1"></td>
                            <td>RRSP*</td>
                            <td>RBC</td>
                            <td>123456789123</td>
                            <td>$50,000</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="accountType" value="2"></td>
                            <td>TFSA*</td>
                            <td>RBC</td>
                            <td>123456789123</td>
                            <td>$400,000</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="accountType" value="3"></td>
                            <td>RRSP*</td>
                            <td>RBC</td>
                            <td>123456789123</td>
                            <td>$400,000</td>
                        </tr>
                    </tbody>
                </table>
                <p>*You may change your linked accounts anytime once inside MyAdvisor.</p>
                <p>**You may add additional accounts from other financial institutions to fund your goals once inside myAdvisor.</p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="congrats-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center">
                        <button class="btn btn-primary customButtom">Continue to Next Step</button>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>