<div class="client-borading">
  <videogular class="custom-video" vg-player-ready="onBoardCtrl.onPlayerReady($API)" vg-complete="onBoardCtrl.onComplete()" vg-theme="onBoardCtrl.config.theme.url" vg-auto-play="true">
    <vg-media vg-src="onBoardCtrl.config.sources" vg-tracks="onBoardCtrl.config.tracks">
    </vg-media>
  </videogular>
  <div class="splash-screen-content">
    <div class="row">
      <div class="container">
        <div class="col-md-12">
          <p class="logo"><img src="/assets/images/logo-my-advisor.png" alt="My Advisor"><span class="title">My Advisor</span>
          </p>
        </div>
      </div>
    </div>
    <div class="row horizentalLine"></div>
    <div class="row">
      <div class="container">
        <div class="col-md-12 text-Button">
          <p class="loyalty-text">Unwavering loyalty to you</p>
          <div class="col-md-12">
            <div class="col-md-1"></div>
            <p class="col-md-10 financialText">Financial advice tailored for you without the guesswork – securely plan for a royal future.</p>
            <div class="col-md-1"></div>
          </div>
          <div>
            <span class="fa fa-youtube-play fa-6 play-button" ng-click="onBoardCtrl.playVideo()"></span>
          </div>
          <button class="btn btn-primary btn-lg optimize-button" ng-click="onBoardCtrl.optimizeWeatlth()">Optimize Your Wealth</button>
        </div>
      </div>
    </div>
    <div class="row footer-eight">
      <div class="container">
        <footer>
          <div class="col-md-12 footer-link">
            <p>
              <span><a href="#">Disabled link</a></span>
              <span class="centerLinks"><a href="#">Disabled link</a></span>
              <span><a href="#">Disabled link</a></span>
            </p>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
