.advisor-task {
  margin-bottom: 20px;
  .task-filter {
    float: right;
    margin: 1px -20px 0 0;
    .btn {
      padding-right: 0;
      text-decoration: none;
      color: #444;
      i {
        font-size: 20px;
        position: relative;
        top: 2px;
        margin-left: 5px;
      }
    }
    .dropdown-menu {
      left: auto;
      right: 0;
    }
  }
  .new-task {
    float: right;
    padding-right: 0;
    margin-right: -20px;
    font-size: 20px;
    color: #444;
  }
  .task-list {
    clear: both;
    margin: 0 -20px;
    padding: 0;
    height: 955px;
    overflow: auto;
    list-style-type: none;
    > li {
      padding: 0 0 0 15px;
      cursor: pointer;
      &:hover {
        background: #f3f3f3;
      }
      .task-item {
        padding: 8px 0;
        border-top: 1px solid #d8d8d8;
      }
    }
  }
  &.small-list {
    .task-list {
      height: 250px;
    }
  }
  .name {
    font-weight: bold;
    color: #777;
  }
  .description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .due-date,
  .time {
    font-size: 11px;
  }
  .due-date {
    margin-bottom: 5px;
  }
  .about-to-due {
    color: #e59f00;
  }
  .past-due {
    color: #ea4141;
  }
  .time {
    color: #aaa;
    margin-bottom: 0;
  }
  .edit-task {
    padding: 0;
    border: 0;
    box-shadow: none;
    resize: none;
  }
  label {
    font-weight: normal;
  }
  select {
    height: 24px;
  }
  .error {
    display: inline-block;
    margin-top: 5px;
    color: #ea4141;
  }
  .action-buttons {
    margin-top: 30px;
    .mark-complete {
      margin-top: 6px;
      font-size: 11px;
      font-weight: bold;
      color: #1eb7fa;
      text-transform: uppercase;
      input {
        margin-right: 2px;
      }
    }
    .counter {
      display: inline-block;
      margin-top: 10px;
      font-size: 11px;
      color: #aaa;
    }
  }
  &.edit-task {
    width: 270px;
    margin-bottom: 0;
  }
  &.new-task {
    width: 450px;
    .due-date-input {
      margin: 15px 0;
    }
    .error {
      margin-top: 0;
      margin-left: 5px;
    }
  }
}
