.popover {
  max-width: 500px;
}

.cancel-appointment-popover {
  width: 370px;
  textarea {
  	resize: none;
  	height: 80px;
  	border: 0;
  	background: #f5f5f5;
  	border-radius: 0;
  	box-shadow: none;
  }
}
