.meeting-card {
  color: #444;
  .close-button {
    float: right;
    margin: -60px -15px 0 0;
    font-size: 20px;
    color: #777;
  }
  .action-buttons {
    clear: both;
    float: right;
  }
  .spacer {
    margin-top: 15px;
  }
  h4 {
    margin-top: 0;
  }
  .notes-list {
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 180px;
    overflow: auto;
    > li {
      border-top: 1px solid #d8d8d8;
      padding-top: 10px;
      &:first-child {
        border-top: 0;
      }
      .note-caption {
        font-size: 11px;
        color: #aaa;
      }
    }
  }
}
