.advisor-dashboard {
  padding-bottom: 50px;
  margin-top: 20px;
  .right-column {
    border-left: 1px solid #d8d8d8;
    height: 1000px;
  }
  .advisor-calendar {
    .fc-widget-header {
      margin-bottom: 20px;
      th {
        height: 20px;
        background: #e6e6e6;
        vertical-align: middle;
      }
    }
    .fc {
      th,
      td {
        border: 0;
      }
      .fc-agendaWeek-view {
        td {
          border-left: 1px solid #b0b0b0;
        }
        td.fc-axis,
        .fc-content-skeleton .fc-axis,
        .fc-widget-header,
        .fc-widget-header .fc-axis,
        .fc-body > tr > .fc-widget-content {
          border-left: 0;
        }
      }
    }
    .fc-unthemed {
      .fc-today {
        background: #fff;
      }
    }
    .fc-time-grid {
      table {
        border: 0;
      }
      .fc-slats {
        td {
          height: 36px;
          border-top: 1px solid #b0b0b0;
        }
        .fc-minor {
          border-top: 0;
          td {
            border: 0;
            border-top: 1px solid #e6e6e6;
          }
          .fc-time {
            border-width: 0;
          }
        }
        tr:last-child.fc-minor {
          td {
            border-bottom: 1px solid #b0b0b0;
          }
        }
      }
    }
    .fc-event {
      border-radius: 0;
      background: #fafafa;
      border-color: #4a4a4a;
      padding: 12px 15px;
      margin-bottom: -1px;
      cursor: pointer;
      font-size: $font-size-base;
      &,
      &:hover {
        color: #000;
      }
      &.disabled {
        background: #e6e6e6;
        border-color: #9b9b9b;
        color: #848484;
      }
      .fc-time {
        display: none;
      }
      .fc-cancel-event {
        float: right;
        margin-top: 10px;
      }
      .fc-title {
        font-size: 16px;
      }
      .fc-pre-title {
        font-size: $font-size-small;
      }
    }
    .fc-ltr {
      .fc-axis {
        text-align: left;
        font-size: $font-size-small;
        vertical-align: top;
        padding: 8px 8px 0 0;
      }
    }
    .fc-agendaWeek-view {
      .fc-sat,
      .fc-sun {
        background: #e6e6e6;
      }
      .fc-event {
        padding: 5px 7px;
        font-size: 11px;
        .fc-cancel-event {
          display: none;
        }
        .fc-title {
          font-size: 11px;
          font-weight: bold;
        }
        &.disabled {
          .fc-title,
          .fc-description {
            display: none;
          }
        }
      }
      .fc-time-grid {
        .fc-event-container {
          margin: 0 -1px 0;
        }
      }
    }
  }
}
