.no-padding {
  padding: 0 !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

.no-right-padding {
  padding-right: 0 !important;
}

.no-top-padding {
  padding-top: 0 !important;
}

.no-bottom-padding {
  padding-bottom: 0 !important;
}

.left-padding {
  padding-left: $space-md;
}

.right-padding {
  padding-right: $space-md;
}

.top-padding {
  padding-top: $space-md;
}

.bottom-padding {
  padding-bottom: $space-md;
}

.no-margin {
  margin: 0 !important;
}

.no-left-margin {
  margin-left: 0 !important;
}

.no-right-margin {
  margin-right: 0 !important;
}

.no-top-margin {
  margin-top: 0 !important;
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

.left-margin {
  margin-left: $space-md;
}

.right-margin {
  margin-right: $space-md;
}

.top-margin {
  margin-top: $space-md;
}

.bottom-margin {
  margin-bottom: $space-md;
}

.text-extra-small {
  font-size: $font-size-extra-small;
}

.text-small {
  font-size: $font-size-small;
}

.text-regular {
  font-size: $font-size-base;
}

.text-large {
  font-size: $font-size-large;
}

.text-bold {
  font-weight: bold;
}

.text-normal {
  font-weight: normal;
}

.text-italic {
  font-style: italic;
}

.text-wrap {
  white-space: normal;
}

.form-group {
  margin-bottom: $space-md;
  label {
    margin-bottom: $space-sm;
  }
}

.browsehappy {
  margin: $space-sm 0;
  background: $color-c17;
  color: $color-c18;
  padding: $space-sm 0;
}

.buttons-list {
  &.button-verticle {
    margin: 0 auto;
    .btn {
      overflow: hidden;
      display: block;
      width: 100%;
      margin-bottom: $unit * 3;
    }
  }
}

.input-with-icon {
  position: relative;
  .icon {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 48px;
    line-height: 48px;
    font-size: $font-size-h3;
    color: $color-c17;
  }
  .form-control {
    padding-left: 48px;
  }
}

.range-slider {
  .slider-horizontal {
    margin-top: $space-sm * 4;
    .slider-track {
      height: 2px;
      background: $color-c15;
      box-shadow: none;
      border-radius: 0;
      .slider-tick {
        left: 0;
        top: -6px;
        margin: 0;
        width: 2px;
        height: $unit * 3;
        background: $color-c15;
      }
    }
    .slider-handle {
      width: 17px;
      height: 17px;
      margin-top: -8px;
      margin-left: -8px;
      background: $color-c10;
      border: 1px solid $color-c26;
    }
    .slider-tick-label-container {
      .slider-tick-label {
        font-size: $font-size-small;
      }
    }
    .tooltip-main {
      opacity: 1;
      margin-top: -40px;
      z-index: 1;
      .tooltip-arrow {
        border-top-color: $color-c12;
      }
      .tooltip-inner {
        background: $color-c13;
        border: 1px solid $color-c12;
        padding: 1px 8px 0;
        color: $color-c3;
      }
    }
  }
  .slider-selection {
    background: none;
    box-shadow: none;
  }
}

.accounts-list {
  list-style-type: none;
  padding: 0;
  border-top: 1px solid $color-c15;
  font-size: $font-size-small;
  > li {
    padding: $space-sm 0;
    border-bottom: 1px solid $color-c15;
    .icon {
      float: right;
      color: $color-c3;
      font-size: $font-size-base;
    }
  }
}
