.conf-toast-container {
  top: 100px;
  z-index: 5 !important;
  display: none;
  .toast {
    padding-left: $unit * 3 !important;
    background-color: $color-c20;
    text-align: center;
    div {
      color: $color-c18;
      text-align: left;
    }
    a {
      margin-top: $unit * 2;
    }
  }
}

.video-session {
  display: block;
  position: relative;
  height: 168px;
  .show-call-details {
    display: none;
  }
}

.advisor-videoroom {
  .video-box-margin {
    margin-right: -$unit * 4;
    margin-left: -$unit;
  }
  .meeting-progress-box {
    margin-left: 0px;
    margin-right: 0px;
    width: 90%;
  }
}

.waiting-room-loader {
  display: table;
  width:100%;
  .video-loader {
    height: 168px;
    text-align: center;
    background-color: $color-c18;
    color: $color-c19;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    .loader {
      color: $color-c19;
    }
  }
}

.OT_edge-bar-item,
#facePublisher {
  display: none !important;
}

.disable-control {
  color: $color-c18;
}

.enable-control {
  color: $color-c19;
}

ot-subscriber {
  left: 0px;
  height: 100% !important;
}

.bottom-control-bar {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 65%;
  .video-btn {
    height: 48px;
    width: 48px;
    border-radius: 100px;
    border: 0px;
    margin-left: $unit;
    margin-right: $unit;
    padding: 0px;
    i {
      position: relative;
      top: 45%;
      transform: translateY(-50%);
    }
  }
  .btn-bgcolor {
    background-color: $color-c1;
  }
  .hangon-bgcolor {
    background-color: $color-c22;
    i {
      -ms-transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
      top: 30%;
    }
  }
}

.expand-video {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  .show-call-details {
    display: block;
    position: fixed;
    left: 5%;
    top: 10%;
    right: 0;
    bottom: 0;
    z-index: 1001;
    font-size: $font-size-small;
    color: $color-c19;
    width: 10%;
    text-align: left;
    .fl-rt {
      padding-left: 12%;
    }
    .connected {
      color: $color-c23;
    }
  }
}

.expand-video-controls {
  position: fixed;
  top: 90%;
  z-index: 1000;
}

.meeting-progress-box {
  text-align: left;
  margin-top: 3%;
  margin-left: $unit;
  margin-right: $unit;
  float: left;
  font-size: $font-size-small;
  width: 95%;
  color: $color-c19;
  position: absolute;
  z-index: 1;
  .connected {
    color: $color-c23;
  }
  .connecting {
    color: $color-c10;
  }
  .fl-lt {
    float: left;
  }
  .fl-rt {
    float: right;
  }
}

.meeting-progress {
  text-align: center;
  .connected {
    color: $color-c23;
  }
}

.error {
  color: $color-c5;
  border-color: $color-c5;
}
