.navbar {
  border-bottom: 0;
  margin-bottom: 0;
  .navbar-header {
    border-right: 1px solid #000;
    margin-right: 15px;
    .navbar-brand {
      font-size: 24px;
      padding-right: 25px;
    }
  }
  .badge {
    float: right;
    font-size: $font-size-base;
    border-radius: 3px;
    padding: 4px 5px;
    margin-left: 5px;
  }
  .dropdown-menu-custom {
    min-width: 240px;
    color: #fff;
  }
  .user-badge {
    float: left;
    position: relative;
    cursor: pointer;
    padding: 12px 20px 12px 0;
    min-width: 300px;
    color: #fff;
    &.client {
      padding: 20px;
      border-left: 1px solid #000;
    }
    .profile-pic,
    .details {
      float: left;
    }
    .down-pointer {
      position: absolute;
      top: 0;
      right: 20px;
      bottom: 0;
      line-height: $navbar-height;
    }
    .profile-pic {
      margin-right: 10px;
      img {
        width: 36px;
        height: 36px;
        border-radius: 100px;
      }
    }
    .details {
      .name,
      .online-status {
        display: block;
        line-height: 1.25;
        position: relative;
      }
      .online-status {
        font-size: 12px;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: -22px;
          width: 15px;
          height: 15px;
          border: 2px solid #333;
          border-radius: 20px;
        }
        &.online:before {
          background: #7ed321;
        }
      }
    }
    /* &:hover {
      background: #444;
    } */
    &.active {
      background: #eaeaea;
      color: #333;
      .details {
        .online-status {
          &:before {
            border-color: #eaeaea;
          }
        }
      }
    }
  }
  .popover-content {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.advisor-navbar-availability-popover {
  width: 270px;
  .action-row {
    height: $unit * 8;
    margin-right: -$unit * 3;
    margin-left: -$unit * 3;
    border-bottom: 1px solid $color-c15;
    padding-top: 3%;
    a {
      text-decoration: none;
      color: $color-c3;
    }
  }
  .status-list:hover {
    background-color: $color-c4;
    a {
      color: $color-c19;
    }
  }
  .status-list {
    background-color: $color-c27;
  }
  .selected-status {
    background-color: $color-c4;
    a {
      color: $color-c19;
    }
  }
  .no-bottom-border {
    border-bottom: none;
  }
  .linkDisabled {
    cursor: not-allowed;
    pointer-events: none;
    color: $color-c27;
  }
}

