/* Design Colors */

$color-c1: #2b4460;
$color-c2: #f1c302;
$color-c3: #444444;
$color-c4: #0098e5;
$color-c5: #f54027;
$color-c6: #a9ba0a;
$color-c7: #f8e180;
$color-c8: #403400;
$color-c9: #8e8779;
$color-c10: #ccaa82;
$color-c11: #c08300;
$color-c12: #e0d0b1;
$color-c13: #ede2cb;
$color-c14: #f0f0f0;
$color-c15: #dbdbdb;
$color-c16: #aaaaaa;
$color-c17: #777777;
$color-c18: #000000;
$color-c19: #ffffff;
$color-c20: #fafafa;
$color-c21: #0077b3;
$color-c22: #bb0016;
$color-c23: #00c7c6;
$color-c24: #cccccc;
$color-c25: #999999;
$color-c26: #4f3500;
$color-c27: #f5f5f5;
$color-c28: #95a1af;
/* Text and Font */

$text-color: $color-c3;
$text-muted: $color-c25;
$input-color: $color-c3;
$input-border: $color-c15;
$alert-danger-text: $color-c5;
$font-light: "Roboto-Light",
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$font-regular: "Roboto-Regular",
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$font-bold: "Roboto-Bold",
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;

/* Resetting Bootstrap Variables */

$font-family-sans-serif: $font-regular;
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-extra-small: 12px;
$font-size-large: 18px;
$font-size-h1: 30px;
$font-size-h2: 24px;
$font-size-h3: 20px;
$font-size-h4: 16px;
$font-size-h5: 16px;
$font-size-h6: $font-size-base;
$body-bg: $color-c19;
$brand-primary: $color-c1;

/* Media queries breakpoints */

$screen-xs: 480px;
$screen-sm: 724px;
$screen-md: 940px;
$screen-lg: 1180px;

/* Grid system */

$grid-gutter-width: 40px !default;
$container-lg: 1180px;

/* Buttons */

$link-color: $color-c4;
$link-hover-color: $color-c1;
$border-radius-base: 2px;
$border-radius-large: 2px;
$border-radius-small: 2px;
$padding-base-vertical: 12px;
$padding-large-vertical: 19px;
$padding-small-vertical: 4px;
$padding-base-horizontal: 20px;
$padding-large-horizontal: 20px;
$padding-small-horizontal: 20px;
$btn-default-color: $color-c1;
$btn-default-bg: transparent;
$btn-default-border: $btn-default-color;
$btn-primary-color: $color-c8;
$btn-primary-bg: $color-c2;
$btn-primary-border: $color-c11;
$btn-success-color: $color-c8;
$btn-success-bg: $color-c13;
$btn-success-border: $color-c12;

/* Icons and Fonts Path */

$roboto-font-path: '../../../bower_components/roboto-fontface/fonts';
$icon-font-path: "../../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "../../../bower_components/font-awesome/fonts/";

/* Navbar */

$navbar-height: 60px;
$navbar-inverse-bg: $color-c1;
$navbar-inverse-link-color: $color-c19;
$navbar-inverse-link-hover-bg: transparent;
$navbar-inverse-link-active-color: $color-c2;
$navbar-inverse-link-active-bg: transparent;

/* Badges */

$badge-bg: $color-c16;

/* Modal */

$zindex-popover: 1035;
$modal-md: 580px;
$modal-inner-padding: 60px 100px;
$modal-content-bg: $color-c20;
$modal-backdrop-bg: $color-c1;
$modal-backdrop-opacity: .96;

/* Custom Variables */

$unit: 5px;
$space-sm: $unit * 2;
$space-md: $unit * 4;
$space-lg: $unit * 6;
