/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */

@import "reset-variables";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */

// bower:scss
// endbower

/* Override any bootstrap class below */

button,
input,
optgroup,
select,
textarea {
  font-family: $font-regular;
}

a:focus {
  outline: none;
}

h1 {
  font-family: $font-light;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin: 0 0 15px;
}

.btn-lg {
  font-size: $font-size-base;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn:active:hover {
  outline: none;
}

.btn-link {
  color: $color-c4;
  &:hover,
  &:focus,
  &:active,
  &:active:hover {
    text-decoration: none;
  }
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default:active:hover {
  color: $color-c19;
  background: $color-c1;
}

.btn-primary,
.btn-success {
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.5);
  &:hover,
  &:focus,
  &:active,
  &:active:hover {
    color: $color-c19;
    border-color: $color-c3;
    background: $color-c1;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.54);
  }
}

.modal:not(.full-screen) {
  text-align: center;
  padding: 0!important;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
}

.modal-content {
  border: 0;
  border-radius: $unit * 2;
  box-shadow: 0 0 ($unit * 2) 0 $color-c3;
  h1 {
    margin-bottom: $space-lg;
  }
  p {
    margin-bottom: $space-md;
    & + .btn {
      margin-top: $space-sm;
    }
  }
}

.modal.full-screen {
  .modal-dialog {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    .modal-content {
      border-radius: 0;
      position: absolute;
      width: 100%;
      min-height: 100%;
      .close-button {
        position: absolute;
        top: $space-sm * 5;
        right: $space-sm * 5;
        font-size: $font-size-h2;
        color: $color-c3;
      }
    }
  }
}

.table > thead > tr > th {
  border-bottom: 1px solid $color-c15;
  font-size: $font-size-extra-small;
  color: $color-c16;
}

.table > caption + thead > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > th,
.table > thead:first-child > tr:first-child > td {
  border-top: 1px solid $color-c15;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  border-bottom: 1px solid $color-c15;
  border-top: 0;
  padding: $space-sm;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background: $color-c20;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.form-control {
  box-shadow: inset 0 0 $unit 0 rgba(0, 0, 0, 0.1);
}

.has-error {
  .form-control {
    color: $color-c5;
    box-shadow: none;
    border-color: $color-c15;
    box-shadow: inset 0 0 $unit 0 rgba(0, 0, 0, 0.1);
  }
}

.alert-danger {
  background: none;
}


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */

// injector
// endinjector
