.appointment-scheduler {
  .steps-bar {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 10;
    background: $color-c13;
    padding: 15px 0;
    height: 60px;
    border-bottom: 1px solid $color-c12;
    .steps {
      margin: 6px 0 0 -5px;
      font-size: 14px;
      color: $color-c9;
      > li {
        padding: 0 0 0 50px;
        &:first-child {
          padding-left: 0;
        }
        &.active {
          color: $color-c8;
        }
      }
    }
    &.fixed-at-top {
      position: fixed;
      top: 0;
    }
  }
}

.client-appointment {
  margin-top: 120px;
  text-align: center;
  .buttons-verticle {
    margin: 0 auto;
    .btn {
      overflow: hidden;
      margin-bottom: 15px;
    }
    &.available-time {
      .date {
        float: left;
        margin-left: 50px;
      }
      .time {
        float: right;
        margin-right: 50px;
      }
    }
  }
  .note {
    font-family: $font-light;
    font-size: $font-size-small;
    color: $color-c16;
    font-style: italic;
    margin-bottom: 30px;
  }
  .daytime-indicators {
    margin: 15px 0 60px;
    width: 100%;
    max-width: 550px;
    .btn {
      width: 33.33%;
      outline: none;
      box-shadow: none;
      background: $color-c19;
      border-color: $color-c15;
      color: $color-c3;
      &.active {
        box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
        background: $color-c4;
        border-color: $color-c21;
        color: $color-c19;
        z-index: 3;
      }
      &:hover:not(.active) {
        background: $color-c14;
      }
    }
  }
  .input-form {
    max-width: 380px;
    margin: 30px auto 15px;
    text-align: center;
    .form-control {
      text-align: center;
      padding-left: 20px;
    }
    .input-error {
      margin-bottom: 5px;
      font-size: $font-size-small;
    }
  }
  .calendar-container {
    margin-top: 86px;
  }
  .add-to-calendar {
    border-top: 1px solid $color-c15;
    margin-top: 60px;
    padding-top: 60px;
  }
}
