.appointment-listing {
  margin-top: $space-sm * 5;
  .missed-appointment {
    border-bottom: 1px solid $color-c15;
    margin-bottom: $unit * 6;
    text-align: center;
  }
  .appointment-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    > li {
      @include clearfix;
      border-top: 1px solid $color-c15;
      padding-bottom: $space-sm * 3;
      padding-top: $space-sm * 5;
      &:first-child {
        padding-top: 0;
        border-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
      }
      h2 {
        margin: $space-sm 0;
      }
      .cancel-appointment {
        @include clearfix;
        max-width: 600px;
        margin: ($space-sm * 3) auto ($space-sm * 2);
        text-align: center;
      }
    }
  }
  .schedule-appointment {
    background: $color-c20;
    margin-top: $space-sm * 5;
    padding: ($space-md * 3) 0;
    text-align: center;
    h1 {
      margin-bottom: $space-lg;
    }
  }
}

.past-appointments {
  margin: 10px auto;
  .content {
    margin-bottom: 30px;
    .headline {
      font-size: 18px;
      color: #2d2d2d;
    }
    .body li {
      font-size: 14px;
    }
  }
  .acc-heading {
    margin-bottom: 20px;
    .acc-l-title {
      font-size: 18px;
      margin: 10px auto;
      color: #2d2d2d;
    }
    .acc-m-title {
      font-size: 14px;
      line-height: 90%;
    }
    .acc-s-title {
      font-size: 14px;
      line-height: 1;
      color: #3c3c3c;
    }
    .acc-ss-title {
      font-size: 11px;
      line-height: 1;
    }
    .status {
      margin: 25px auto;
    }
    .appointment-status {
      font-size: 14px;
      color: #444444;
      text-align: right;
    }
  }
}
