.calendar-view {
  display: block;
  width: 100%;
  margin: 0 auto;
  &.week-names {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 11;
    border-top: 1px solid $color-c15;
    background: $color-c19;
    &.fixed-at-top {
      position: fixed;
      top: 60px;
      border-top: 0;
      border-bottom: 1px solid $color-c15;
      box-shadow: 0 1px 20px 0 rgba(170, 170, 170, 0.2);
    }
  }
  > .header {
    font-family: $font-light;
    font-size: $font-size-h2;
    padding-bottom: 15px;
  }
  .week {
    @include clearfix;
    > .day {
      float: left;
      width: 12.5%;
      height: 42px;
      border: 1px solid $color-c3;
      background: $color-c19;
      cursor: pointer;
      margin-left: 24px;
      margin-bottom: 24px;
      font-family: $font-light;
      font-size: $font-size-large;
      color: $color-c3;
      line-height: 42px;
      text-decoration: none;
      position: relative;
      .dots {
        padding: 0;
        margin: 0;
        position: absolute;
        bottom: 2px;
        width: 100%;
        list-style-type: none;
        line-height: normal;
        font-size: 8px;
        li {
          display: inline-block;
          padding: 0 1px;
        }
      }
      &:first-child {
        margin-left: 0;
      }
      &.today {
        background: #E3F2FF;
      }
      &.disabled {
        border: 1px solid $color-c15;
        color: $color-c15;
        cursor: default;
      }
      &.different-month {
        border: 0;
      }
      &:not(.disabled):hover {
        background: $color-c14;
      }
    }
    &.names {
      > .day {
        border: 0;
        height: auto;
        padding: 24px 0;
        margin-bottom: 0;
        color: $color-c16;
        font-family: $font-bold;
        font-size: 11px;
        text-transform: uppercase;
        line-height: normal;
        text-align: left;
      }
    }
  }
}

@media (min-width: $screen-sm) {
  .calendar-view {
    .week {
      > .day {
        height: 102px;
        font-size: $font-size-h1;
        line-height: 80px;
        .dots {
          bottom: 10px;
          font-size: $font-size-small;
        }
      }
    }
  }
}
