<div class="activity-logs" ng-controller="ActivityLogController as alCtrl">
  <ul class="logs-list">
    <li ng-repeat="log in alCtrl.logs" ng-click="alCtrl.toggleClass($event, 'open')" ng-class="{ 'open': $index === 0 }">
      <span class="date">{{ log.createdDate }}</span>
      <h4>{{ log.subject }}</h4>
      <p>{{ log.body }}</p>
    </li>
  </ul>
  <div class="pagination-wrapper">
    <uib-pagination total-items="alCtrl.totalLogs" items-per-page="alCtrl.pageSize" max-size="alCtrl.pageNumbers" boundary-links="true" rotate="false" previous-text="&#xf0d9;" next-text="&#xf0da;" ng-model="alCtrl.currentPage" ng-change="alCtrl.pageChanged()"></uib-pagination>
  </div>
</div>
