<div ng-controller="AdvisorAppointmentsController as appointmentsCtrl">
  <div class="pull-right">
    <button type="button" class="btn btn-primary" ng-disabled="appointmentsCtrl.isAdHocDisabled" ng-click="appointmentsCtrl.createAdHocAppointment()">New Ad-Hoc</button>
  </div>
  <uib-tabset active="active">
    <uib-tab index="1" heading="Upcoming Appointments" active="tab.active" disable="tab.disabled" analytics-on="click" analytics-event="viewed upcoming appointment" analytics-category="Advisor - Calendar / Scheduling">
      <div class="sub-tabs">
        <div class="panel panel-default form-group" data-ng-show="!appointmentsCtrl.haveUpComingAppointments">
          <p>Client doesn’t have any upcoming appointments</p>
        </div>
        <div class="panel panel-default" data-ng-show="appointmentsCtrl.haveUpComingAppointments">
          <div class="acc-heading">
            <div class="pull-left acc-m-title">{{appointmentsCtrl.appointmentTime}} </div>
            <div class="appointment-status" ng-if="appointmentsCtrl.showStatus">
              <div class="btn-group" uib-dropdown>
                <button type="button" class="btn btn-default" ng-click="appointmentsCtrl.submit()">{{appointmentsCtrl.selectedStatus.name}}</button>
                <button type="button" class="btn btn-default" uib-dropdown-toggle>
                  <span class="caret"></span>
                  <span class="sr-only">Split button!</span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                  <li ng-repeat="status in appointmentsCtrl.statuses">
                    <a href="#" ng-click="appointmentsCtrl.setAction(status)">{{status.name}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <form editable-form name="editableForm" onaftersave="saveUser()">
            <span ng-if="!appointmentsCtrl.appointment.recommendations && !appointment.reason && !appointment.agenda">
                {{editableForm.$show()}}
              </span>
            <div class="panel panel-default">
              <div class="panel-body">
                <h4>Reason for Appointment</h4>
              </div>
              <div class="panel-footer form-group"><span e-placeholder="Enter reason" e-style="width: 280px" editable-select="appointmentsCtrl.reason" e-name="reason" onbeforesave="checkName($data)" e-ng-options="s.id as s.text for s in appointmentsCtrl.reasons" e-required>{{ (appointmentsCtrl.reasons | filter:{id: appointmentsCtrl.reason})[0].text || 'Not set' }}</span></div>
            </div>
            <div class="panel panel-default" ng-if="appointmentsCtrl.showAgenda">
              <div class="panel-body">
                <div class="pull-left">
                  <h4>Agenda</h4>
                </div>
                <div class="pull-right" ng-hide="!appointmentsCtrl.appointment.recommendations && !appointment.reason && !appointment.agenda">
                  <span>Preview</span>
                  <button type="button" class="btn btn-default" ng-click="appointmentsCtrl.sendAgenda()" ng-disabled="appointmentsCtrl.sentAgenda">{{appointmentsCtrl.sentAgenda?'Sent':'Send Agenda'}}</button>
                </div>
              </div>
              <div class="panel-footer form-group"> <span e-placeholder="Enter agenda" editable-textarea="appointment.agenda" e-name="agendas" onaftersave="" onbeforesave="" e-rows="9" e-cols="90" e-required e-maxlength="500" e-ng-change="appointmentsCtrl.updatedAgendaContent($data)" e-ng-model-options="{allowInvalid:true}">
                <pre> {{appointment.agenda || 'add text' }}</pre>
                </span>
                <div>
                  <h6>{{500 - appointmentsCtrl.agendaContentLength}} characters left</h6>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="pull-left">
                  <h4>Recommendations & Next Steps</h4>
                </div>
                <div class="pull-right" ng-hide="!appointmentsCtrl.appointment.recommendations && !appointment.reason && !appointment.agenda">
                  <span>Preview</span>
                  <button type="button" class="btn btn-default" ng-disabled="appointmentsCtrl.sentRecap" ng-click="appointmentsCtrl.sendRecap()">{{appointmentsCtrl.sentRecap?'Sent':'Send Recap'}}</button>
                </div>
              </div>
              <div class="panel-footer form-group"> <span e-placeholder="Enter recommendations" editable-textarea="appointmentsCtrl.appointment.recommendations" e-name="recommendations" e-rows="9" e-cols="90" e-required e-maxlength="500" e-ng-change="appointmentsCtrl.updatedRecommendationsContent($data)" e-ng-model-options="{allowInvalid:true}">
                <pre> {{appointmentsCtrl.appointment.recommendations || 'add text' }}</pre>
                </span>
                <div>
                  <h6>{{500 - appointmentsCtrl.recommendationsContentLength}} characters left</h6>
                </div>
              </div>
            </div>
            <hr>
            <div class="buttons pull-right">
              <!-- button to show form -->
              <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                Edit
              </button>
              <modal-directive on-close="appointmentsCtrl.onPopUpClose()" auto-close="true" ng-show="!editableForm.$visible" name="Archive" btn-type="btn btn-primary" template-dir="app/advisor/clientbook/views/" modal-template="_archivepopup" custom-css="desktop-modal"></modal-directive>
              <!-- buttons to submit / cancel form -->
              <span ng-show="editableForm.$visible">
            <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
                Save
            </button>
            <button ng-hide="!appointmentsCtrl.isAdHocDisabled" type="button" class="btn btn-default" ng-click="appointmentsCtrl.resetCreateNewAdHoc()">
                Cancel
            </button>
            <button ng-hide="!appointment.recommendations && !appointment.reason && !appointment.agenda" type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                Cancel
            </button>
            </span>
            </div>
          </form>
        </div>
      </div>
    </uib-tab>
    <uib-tab index="2" heading="Archived" active="tab.active" disable="tab.disabled" analytics-on="click" analytics-event="viewed client's past appointments" analytics-category="Advisor - Calendar / Scheduling">
      <div class="sub-tabs">
        <uib-accordion close-others="oneAtATime">
          <uib-accordion-group ng-repeat="archive in appointmentsCtrl.archives" is-open="archive.open" is-disabled="status.isFirstDisabled">
            <uib-accordion-heading>
              <div class="acc-heading">
                <div class="acc-m-title">{{archive.time}} </div><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': archive.open, 'glyphicon-chevron-right': !archive.open}"></i>
                <div class="status">
                  <div class="acc-ss-title pull-right">
                    {{archive.state}}
                  </div>
                </div>
                <div class="acc-s-title">{{archive.reason}}</div>
              </div>
            </uib-accordion-heading>
            <div class="panel content-margin">
              <div class="pull-left">
                <h4>Agenda</h4>
              </div>
            </div>
            <div class="well">
              {{archive.agenda}}
            </div>
            <div class="panel content-margin">
              <div class="pull-left">
                <h4>Recommendations & Next Steps</h4>
              </div>
            </div>
            <div class="well">
              {{archive.recommendations}}
            </div>
          </uib-accordion-group>
        </uib-accordion>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
