<div class="myadvisor-appointments">
  <div class="row">
    <div class="col-md-9">
      <div class="contact_info">
        <div class="pull-left">
          <h4>MARC RODRIGUEZ</h4>
          <p>1 (226) 262-7899
            <br/> marc.rodiguez@gmail.com</p>
        </div>
        <div class="pull-right">
          <h4>Schedule Specialist</h4>
          <p>Transfer to Specialist</p>
        </div>
      </div>
      <div class="content-tabs">
        <uib-tabset active="active">
          <uib-tab index="$index + 1" ng-repeat="tab in clientBookController.tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
            <div class="sub-tabs" ng-init="tabName = tab.templateName" ng-switch on="tabName">
              <div ng-switch-when="_appointments.html">
                <div ng-include="'app/advisor/clientbook/views/_appointments.html'"></div>
              </div>
              <div ng-switch-when="_clientinfo.html">
                <div ng-include="'app/advisor/clientbook/views/_clientinfo.html'"></div>
              </div>
              <div ng-switch-when="_financialpicture.html">
                <div ng-include="'app/advisor/clientbook/views/_financialpicture.html'"></div>
              </div>
              <div ng-switch-when="_activitylog.html">
                <div ng-include="'app/advisor/clientbook/views/_activitylog.html'"></div>
              </div>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
    <div class="col-md-3 right-column">
      <div internal-notes title="Internal Notes" show-new-task-button client="MARC RODRIGUEZ" class="advisor-task small-list clearfix"></div>
      <div advisor-task title="Advisor Tasks" show-new-task-button client="MARC RODRIGUEZ" class="advisor-task small-list clearfix"></div>
    </div>
  </div>
</div>
