<div class="modal-body">
  <button type="button" ng-click="mCtrl.cancel()" class="btn btn-link close-button" data-dismiss="modal"><i class="fa fa-times"></i></button>
    <div ng-controller="SearchController as searchCtrl">
      <div class="search-client">
        <div class="form-group">
          <div class="input-with-icon">
            <div class="icon text-center"><i class="fa fa-search fa-flip-horizontal" aria-hidden="true"></i>
            </div>
            <input ng-model="search.fullName" type="text" class="search-input" placeholder="Search by Name" autofocus data-elm-id="{{getAutomationId('search-name','input-text')}}">
          </div>
        </div>
        <uib-tabset active="active">
          <uib-tab ng-init="clients = searchCtrl.getSelectedTabObject(tab.title)" index="$index + 1" ng-repeat="tab in searchCtrl.tabs" heading="{{tab.title}}" active="tab.active">
            <div ng-if="!search.fullName" ng-repeat="client in clients | orderBy: 'fname'">
              <div class="alphabet-divider" ng-if="searchCtrl.firstLetterOfString(client.fname) != searchCtrl.firstLetterOfString(clients[$index-1].fname)">
                {{searchCtrl.firstLetterOfString(client.fname)}}
              </div>
              <div class="client-info"><span class="name">{{client.lname}} {{client.fname}}</span> <span class="address">{{client.address}}</span></div>
            </div>
            <div ng-if="search.fullName" ng-repeat="client in clients | filter:search">
              <div class="client-info"><span class="name">{{client.lname}} {{client.fname}}</span> <span class="address">{{client.address}}</span></div>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
</div>
