<div class="advisor-profile">
  <div class="row">
    <h3>Settings</h3>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="profile-bio">
        <h3>Bio  <i class="fa fa-pencil pencil-icon" ng-click="editableForm.$show()" ng-show="!editableForm.$visible"></i></h3>
        <div class="bio-content">
          <form editable-form name="editableForm" onaftersave="saveUser()">
            <!-- editable group (select-remote) -->
            <span e-placeholder="Enter Bio with 500 characters limit." editable-textarea="profileCtrl.bio" e-form="textBtnForm" e-required e-rows="8" e-cols="80" e-maxlength="505" e-ng-change="profileCtrl.updatedContent($data)" e-ng-model-options="{allowInvalid:true}">
              {{ profileCtrl.bio || 'no description' }}       
            </span>
            <div class="buttons">
            <span ng-show="editableForm.$visible&&profileCtrl.contentLength<500" class="characters-left">{{500 - profileCtrl.contentLength}} characters left</span>
              <span ng-show="editableForm.$visible&&profileCtrl.contentLength>500" class="characters-left error">{{500 - profileCtrl.contentLength}} characters left</span>
              <!-- buttons to submit / cancel form -->
              <span ng-show="editableForm.$visible" class="pull-right button-custom">
        <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
          Cancel
        </button>
        <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
          Save
        </button>
      </span>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--Start Profile Photo-->
    <div class="col-md-3">
      <div class="profile-photo">
        <h3>Profile Photo</h3>
        <div class="photo-box">
          <div class="image-icon">
            <i class="fa fa-camera fa-5x" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    <!--End Profile Photo-->
  </div>
</div>
<form editable-form>
  <a ng-click="$form.$show()" href="#" editable-text="user.name">{{ user.name | uppercase }}</a>
</form>
