<div class="page-tabs">
  <div class="container">
    <div class="row">
      <ul class="tabset">
        <li><a href="#" ng-class="{ 'active': appointmentsCtrl.tabIndex === 0 }" ng-click="appointmentsCtrl.switchTab(0)" data-elm-id="{{getAutomationId('upcoming-appointment','link')}}">Upcoming Appoinments</a></li>
        <li><a href="#" ng-class="{ 'active': appointmentsCtrl.tabIndex === 1 }" ng-click="appointmentsCtrl.switchTab(1)" data-elm-id="{{getAutomationId('past-appointment','link')}}">Past Appointments</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="appointment-listing" ng-if="!appointmentsCtrl.isTabletDevice">
  <div class="upcoming-appointments" ng-show="appointmentsCtrl.tabIndex === 0">
    <div class="missed-appointment" ng-if="appointmentsCtrl.missedAppointment">
      <h1>Looks like we missed you on your last appointment.</h1>
      <p>Video session for May 19, 2016 at 2:00pm.</p><br/>
      <a href="#" class="btn btn-primary btn-lg" data-elm-id="{{getAutomationId('reschedule-appointment','link')}}">Reschedule Appointment</a><br/>
      <button class="btn btn-link text-small" data-elm-id="{{getAutomationId('email-advisor','link')}}">Email Advisor</button>
    </div>
    <div class="container">
      <div class="row">
        <div class="text-center" ng-show="appointmentsCtrl.noAppointments">
          <h1>You have no upcoming appointments.</h1>
          <p class="text-large">Book a session today and start building a stronger tomorrow.</p>
        </div>
        <ul class="appointment-list" ng-if="appointmentsCtrl.upcomingAppointments">
          <li ng-repeat="appointment in appointmentsCtrl.upcomingAppointments">
            <h1 class="text-center" ng-show="appointmentsCtrl.canceledMap.get(appointment.id)">Your meeting has been cancelled.</h1>
            <div class="row" ng-if="!appointmentsCtrl.noAppointments && !appointmentsCtrl.canceledMap.get(appointment.id)">
              <div class="col-sm-8 col-md-9">
                <h2>{{ appointment.appointmentReason }} Discussion</h2>
                <p class="text-large">{{appointmentsCtrl.getDate(appointment.startDate)}} at {{appointmentsCtrl.getTime(appointment.startDate)}} • <span ng-if="appointmentsCtrl.isVideoCall(appointment)">Video Conference</span><span ng-if="!appointmentsCtrl.isVideoCall(appointment)">Phone Call - {{ appointment.callbackNumber | phone }}</span></p>
              </div>
              <div class="col-sm-4 col-md-3 text-center">
                <div class="btn btn-default btn-block" ng-click="showCancelAppointment = !showCancelAppointment" ng-show="!showCancelAppointment && (!appointmentsCtrl.isCallAbtToStart || appointmentsCtrl.upcomingAppointment.id !== appointment.id)" analytics-on="click" analytics-event="selects to cancel an appointment" analytics-category="Calendar / Scheduling" analytics-label="appointment cancel" data-elm-id="{{getAutomationId('cancel-appointment','div',$index+1)}}">Cancel Appointment</div>
                <div class="btn btn-primary btn-block" ng-if="appointmentsCtrl.isCallAbtToStart && appointmentsCtrl.upcomingAppointment.id === appointment.id" analytics-on="click" analytics-event="selects to join an appointment" analytics-category="Calendar / Scheduling" analytics-label="appointment join" data-elm-id="{{getAutomationId('join-appointment','div',$index+1)}}" ng-click="appointmentsCtrl.initSession('SCHEDULED')">Join Appointment</div>
                <button class="btn btn-link text-small" ng-show="!showCancelAppointment" data-elm-id="{{getAutomationId('edit-appointment','button',$index+1)}}">Edit Appointment</button>
              </div>
              <div class="cancel-appointment" ng-show="showCancelAppointment">
                <h3>Are you sure you want to cancel?</h3>
                <div class="col-sm-6">
                  <button class="btn btn-default btn-block top-margin" ng-click="showCancelAppointment = !showCancelAppointment" analytics-on="click" analytics-event="selected confirm cancel appointment" analytics-category="Calendar / Scheduling" analytics-label="appointment cancel" data-elm-id="{{getAutomationId('appointment-cancel-discard','button')}}">No, I changed my mind</button>
                </div>
                <div class="col-sm-6">
                  <button class="btn btn-default btn-block top-margin" ng-click="appointmentsCtrl.deleteClientAppointment(appointment.id, $index)" analytics-event="selected declined cancel appointment" analytics-category="Calendar / Scheduling" analytics-label="appointment cancel" data-elm-id="{{getAutomationId('appointment-cancel-sure','button')}}">Yes, I’m sure</button>
                </div>
              </div>
            </div>
            <div ng-if="appointmentsCtrl.noMoreMeetings">
              <h1>Book a session with your financial adviser today and start building a stronger tomorrow.</h1>
              <a ui-sref="client.appointment.schedule.available-times-by-date" class="btn btn-primary btn-lg" data-elm-id="{{getAutomationId('email-advisor','link')}}">Email Advisor</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="schedule-appointment">
      <h1>Would you like to schedule an additional appointment?</h1>
      <a ui-sref="client.appointment.schedule.session-type" class="btn btn-primary btn-lg" analytics-on="click" analytics-event="selected to schedule appointment" analytics-category="Client - Calendar / Scheduling" analytics-label="location - appointment page" data-elm-id="{{getAutomationId('schedule-appointment','link')}}" ng-if="!appointmentsCtrl.isCallAbtToStart">Schedule an Appointment</a>
      <a class="btn btn-primary btn-lg" analytics-on="click" analytics-event="selected to schedule appointment" analytics-category="Client - Calendar / Scheduling" analytics-label="location - appointment page" data-elm-id="{{getAutomationId('schedule-appointment','link')}}" ng-disabled="appointmentsCtrl.isCallAbtToStart" ng-if="appointmentsCtrl.isCallAbtToStart">Schedule an Appointment</a>
      <br>
      <button class="btn btn-link text-small" ng-click="appointmentsCtrl.initSession('AD_HOC')" data-elm-id="{{getAutomationId('urgent-help','button')}}" ng-disabled="appointmentsCtrl.isCallAbtToStart">Need Urgent Help?</button>
    </div>
  </div>
  <div class="past-appointments" ng-show="appointmentsCtrl.tabIndex === 1">
    <div class="container">
      <div class="row">
        <uib-accordion close-others="oneAtATime">
          <uib-accordion-group ng-repeat="archive in appointmentsCtrl.archives" is-open="archive.open" is-disabled="status.isFirstDisabled" data-elm-id="{{getAutomationId('archive-appointment','accordion',$index+1)}}">
            <uib-accordion-heading>
              <div class="acc-heading">
                <div class="text-muted">
                  <div class="pull-left acc-m-title">{{archive.time}}</div>
                  <div class="pull-right acc-ss-title">{{archive.state}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': archive.open, 'glyphicon-chevron-right': !archive.open}"></i></div>
                </div>
                <div class="clearfix"></div>
                <div class="acc-heading-reason">
                  <div>
                    <div class="pull-left acc-l-title">Reason for Appointment</div>
                    <div class="clearfix"></div>
                    <div class="pull-left acc-m-title">{{archive.reason}}</div>
                  </div>
                </div>
              </div>
            </uib-accordion-heading>
            <div class="content">
              <div class="headline pull-left">
                <h4>Agenda</h4></div>
              <div class="clearfix"></div>
              <div class="body pull-left">
                <ul>
                  <li>Discussion point 1</li>
                  <li>Discussion point 2</li>
                  <li>Discussion point 3</li>
                </ul>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="content">
              <div class="headline pull-left">
                <h4 class="hidden-lg">Recap</h4>
                <h4 class="visible-lg">Recommendations & Next Steps</h4></div>
              <div class="clearfix"></div>
              <div class="pull-left body">
                <ul>
                  <li>Discussion point 1</li>
                  <li>Discussion point 2</li>
                  <li>Discussion point 3</li>
                </ul>
              </div>
            </div>
          </uib-accordion-group>
        </uib-accordion>
      </div>
    </div>
  </div>
</div>
<div class="appointment-listing" ng-if="appointmentsCtrl.isTabletDevice">
  <div class="container text-center bottom-margin">
    <h1>Looks like you are on a mobile browser.</h1>
    <p>Unfortunately, video conferencing is not available on mobile devices yet. If possible, we encourage connecting on a desktop computer for the best experience.</p>
    <a class="btn btn-primary btn-lg btn-block top-margin">Got It</a>
    <p class="top-margin">Cannot connect via desktop? No problem, you can still talk to your advisor by phone, dial-in to your conference with the number below:</p>
    <button class="btn btn-link" data-elm-id="{{getAutomationId('advisor-number','button')}}">123-456-7890</button>
  </div>
</div>
