<div class="container client-appointment">
  <h1>Do any of these times work for you on {{availableTimesByDateCtrl.selectedDate}}?</h1>
  <div class="buttons-verticle input-form">
    <a ng-repeat="slot in availableTimesByDateCtrl.availableTimesByDayPart" ng-click="availableTimesByDateCtrl.goNext(slot.timeStart, slot.timeEnd)" class="btn btn-block btn-default" analytics-on="click" analytics-event="selected appointment time" analytics-category="Scheduling" analytics-label="availableTimesByDateCtrl.getTimeFromUTCDateTime(slot.timeStart)" data-elm-id="{{getAutomationId('time-slot-by-date','link',$index+1)}}">{{availableTimesByDateCtrl.getTimeFromUTCDateTime(slot.timeStart)}}</a>
    <a ui-sref="client.appointment.schedule.choose-date" class="btn btn-link last" analytics-on="click" analytics-event="selected let me pick time" analytics-category="Client - Calendar / Scheduling" analytics-label="appointment time" data-elm-id="{{getAutomationId('see-different-times-by-date','link')}}">See Different Times</a>
  </div>
</div>
