<div class="container client-appointment" ng-if="!availableTimeCtrl.showSpinner">
  <h1>Johnathan can help you with that. Here&rsquo;s his availability:</h1>
  <div class="buttons-verticle available-time input-form">
    <div ng-repeat="time in availableTimeCtrl.availableTimes">
      <a ng-init="timeObject = availableTimeCtrl.getTimeObject(time)" class="btn btn-block btn-default" ng-click="availableTimeCtrl.onclick(timeObject.timeStart, timeObject.timeEnd)" analytics-on="click" analytics-event="selected available appointment time" analytics-category="Client - Calendar / Scheduling" analytics-label="appointment time" data-elm-id="{{ getAutomationId('available-time-slot', 'link', $index + 1) }}">
        <span class="date">{{ availableTimeCtrl.getDay(time.date) }} {{ availableTimeCtrl.getDate(timeObject.timeStart) }}</span>
        <span class="time">{{ availableTimeCtrl.getTime(timeObject.timeStart) }}</span>
      </a>
    </div>
    <a ui-sref="client.appointment.schedule.choose-date" class="btn btn-link last" analytics-on="click" analytics-event="selected let me pick time" analytics-category="Client - Calendar / Scheduling" analytics-label="appointment time" data-elm-id="{{ getAutomationId('see-different-times', 'link') }}">See Different Times</a>
  </div>
</div>
<span us-spinner="{radius:14, width:5, length: 10}" spinner-on="availableTimeCtrl.showSpinner"></span>
