<div class="header">
  <span>{{month.format("MMMM, YYYY")}}</span>
</div>
<div class="week" ng-repeat="week in weeks">
  <a class="day" ng-class="{ 'selected': day.isSelected, 'disabled': day.isDisable, 'different-month': day.isDifferentMonth }" ng-click="select(day)" ng-repeat="day in week.days" data-elm-id="{{automationId({elmName:'date' + '-'+ day.date.format('MM-DD-YYYY') +'-'+day.isDisable,elmType:'link'})}}">
    <span ng-if="!day.isDifferentMonth">{{day.number}}</span>
    <ul class="dots" ng-if="!day.isDifferentMonth">
      <li ng-repeat="i in getTimes(day.numberOfSlots) track by $index">&#9679;</li>
    </ul>
  </a>
</div>