<div class="container client-appointment" ng-if="!chooseDateCtrl.showSpinner">
  <div class="row">
    <h1>When is a good time for you?</h1>
    <div class="btn-group daytime-indicators">
      <button type="button" class="btn" ng-class="{ active : chooseDateCtrl.dayPart === 'morning' }" analytics-on="click" analytics-event="selected calendar time filter" analytics-category="Client - Calendar / Scheduling" analytics-label="appointment time - Morning" ng-click="chooseDateCtrl.updatedayPartString('morning')" data-elm-id="{{getAutomationId('slot-time-morning','button')}}">Morning</button>
      <button type="button" class="btn" ng-class="{ active : chooseDateCtrl.dayPart === 'afternoon' }" analytics-on="click" analytics-event="selected calendar time filter" analytics-category="Client - Calendar / Scheduling" analytics-label="appointment time - Afternoon" ng-click="chooseDateCtrl.updatedayPartString('afternoon')" data-elm-id="{{getAutomationId('slot-time-afternoon','button')}}">Afternoon</button>
      <button type="button" class="btn" ng-class="{ active : chooseDateCtrl.dayPart === 'evening' }" analytics-on="click" analytics-event="selected calendar time filter" analytics-category="Client - Calendar / Scheduling" analytics-label="appointment time - Evening" ng-click="chooseDateCtrl.updatedayPartString('evening')" data-elm-id="{{getAutomationId('slot-time-evening','button')}}">Evening</button>
    </div>
    <div class="calendar-view week-names js-week-names">
      <div class="container">
        <div class="row">
          <div class="week names">
            <span class="day disabled">Sun</span>
            <span class="day disabled">Mon</span>
            <span class="day disabled">Tue</span>
            <span class="day disabled">Wed</span>
            <span class="day disabled">Thu</span>
            <span class="day disabled">Fri</span>
            <span class="day disabled">Sat</span>
          </div>
        </div>
      </div>
    </div>
    <div class="calendar-container">
      <div ng-repeat="month in chooseDateCtrl.months">
        <calendar month="month" available-slots="chooseDateCtrl.availableSlotsByDayPart" selected-date="chooseDateCtrl.selectedDate" on-date-select="chooseDateCtrl.setSelectedDate(selectedDate)" automation-id="getAutomationId(elmName, elmType)" class="calendar-view"></calendar>
        <br>
      </div>
    </div>
  </div>
</div>
<div us-spinner="{radius:14, width:5, length: 10}" spinner-on="chooseDateCtrl.showSpinner"></div>
