<div class="container client-appointment">
  <h1>What would you like to discuss?</h1>
  <span us-spinner="{radius:14, width:5, length: 10}" spinner-on="chooseTopicCtrl.showSpinner"></span>
  <div class="buttons-verticle input-form">
    <a ng-repeat="reason in chooseTopicCtrl.reasons" class="btn btn-block btn-default" ng-click="chooseTopicCtrl.onclick(reason.id)" analytics-on="click" analytics-event="selected appointment reason" analytics-category="Client - Calendar / Scheduling" analytics-label="appointment reason - {{reason.name}}" data-elm-id="{{getAutomationId('discussion-topic','link',reason.id)}}">{{reason.name}}</a>
  </div>
</div>
