<div class="container client-appointment">
  <h1>You have selected {{confirmPhoneCtrl.appointmentDate}} at {{confirmPhoneCtrl.appointmentStartTime}}</h1>
  <p class="text-large">Please confirm this time by entering your phone number.</p>
  <form role="form" name="confirmPhoneForm">
    <div class="form-group input-form" ng-class="{ 'has-error': confirmPhoneForm.clientPhoneNumber.$invalid  && confirmPhoneForm.clientPhoneNumber.$dirty && confirmPhoneForm.clientPhoneNumber.$touched}">
      <p class="input-error alert-danger" ng-show="(confirmPhoneForm.clientPhoneNumber.$invalid && confirmPhoneForm.clientPhoneNumber.$dirty && confirmPhoneForm.clientPhoneNumber.$touched)">Let’s try that again!</p>
      <div class="input-with-icon">
        <div class="icon"><i class="fa fa-volume-control-phone"></i></div>
        <input type="text" class="form-control" name="clientPhoneNumber" maxlength="14" placeholder="Enter Phone Number" ng-model="phoneNumber" ui-us-phone-number required data-elm-id="{{getAutomationId('phone-number','text')}}">
      </div>
    </div>
    <p class="note">This is the number John will call back on if your connection is lost.</p>
    <button type="submit" ng-click="confirmPhoneCtrl.goNext()" class="btn btn-primary btn-lg" data-elm-id="{{getAutomationId('confirm-appointment','button')}}">Confirm Appointment</button>
  </form>
</div>
