<div class="container client-appointment" ng-if="!confirmAppointmentCtrl.showSpinner">
  <h1>You&rsquo;re in-the-books for {{confirmAppointmentCtrl.appointmentDate}} at {{confirmAppointmentCtrl.appointmentStartTime}}!</h1>
  <p class="text-large" ng-show="confirmAppointmentCtrl.getModeOfAppointment() === 'VIDEO'">For the best experience, be sure to connect using a <modal-directive name="desktop computer" template-dir="app/client/appointment/views/" modal-template="_desktop-alert" custom-css="desktop-modal" analytics-on="click" analytics-event="selected no desktop for appointment" analytics-category="Client - Calendar / Scheduling" analytics-label="appointment no desktop"></modal-directive> during your appointment.</p>
  <p class="text-large" ng-show="confirmAppointmentCtrl.getModeOfAppointment() === 'phone'">Your advisor will call you at {{confirmAppointmentCtrl.getClientCallBackNumber()}} at the time of your appointment.</p>
  <a ng-click="confirmAppointmentCtrl.goNext()" class="btn btn-primary top-margin" analytics-on="click" analytics-event="selected confirm appointment" analytics-category="Client - Calendar / Scheduling" analytics-label="appointment confirmation"  data-elm-id="{{getAutomationId('good-to-go','link')}}">Good to Go</a>
  <div class="add-to-calendar">
    <p>Add to your calendar.</p>
    <ul class="list-inline">
      <li><a href="#" analytics-on="click" analytics-event="selected type of calendar to export" analytics-category="Client - Calendar / Scheduling" analytics-label="appointment export - iCal" ng-click="confirmAppointmentCtrl.exportToCal()" data-elm-id="{{getAutomationId('iCal','link')}}">iCal</a></li>
      <li><a href="#" analytics-on="click" analytics-event="selected type of calendar to export" analytics-category="Client - Calendar / Scheduling" analytics-label="appointment export - Google" ng-click="confirmAppointmentCtrl.exportToCal()" data-elm-id="{{getAutomationId('google','link')}}">Google</a></li>
      <li><a href="#" analytics-on="click" analytics-event="selected type of calendar to export" analytics-category="Client - Calendar / Scheduling" analytics-label="appointment export - Outlook" ng-click="confirmAppointmentCtrl.exportToCal()" data-elm-id="{{getAutomationId('outlook','link')}}">Outlook</a></li>
    </ul>
  </div>
</div>
<span us-spinner="{radius:14, width:5, length: 10}" spinner-on="confirmAppointmentCtrl.showSpinner"></span>