<div class="modal-body text-center">
  <h1>Why desktop?</h1>
  <p>Video conferencing is not yet available on mobile devices. If possible, we encourage connecting on a desktop computer for the best experience.</p>
  <p>Cannot connect via desktop? No problem, you can still talk to your advisor by phone.</p>
  <a class="btn btn-success" ng-click="mCtrl.ok()">Okay, Got It</a>
</div>
