<div class="appointment-scheduler">
  <div class="steps-bar js-steps-bar">
    <div class="container">
      <div class="row">
        <a href="#" class="btn btn-sm btn-default pull-right" data-elm-id="{{getAutomationId('schedule-cancel','button')}}">Cancel</a>
        <ul class="list-inline steps">
          <li class="active">1. Session Type</li>
          <li>2. Reason of Appointment</li>
          <li>3. Time of Appointment</li>
          <li>4. Confirmation</li>
        </ul>
      </div>
    </div>
  </div>
</div>
