<div class="container client-appointment">
  <h1>How would you like to connect?</h1>
  <div class="buttons-verticle input-form">
    <a class="btn btn-block btn-default" ng-click="sessionTypeCtrl.goNext('VIDEO')" data-elm-id="{{getAutomationId('connect-video-mode','link')}}">Video Conference</a>
    <a class="btn btn-block btn-default" ng-click="sessionTypeCtrl.goNext('PHONE')" data-elm-id="{{getAutomationId('connect-phone-mode','link')}}">Phone Call</a>
  </div>
</div>
