.activity-logs {
  .logs-list {
    list-style-type: none;
    padding: 0;
    > li {
      padding: 15px 15px 0;
      border-bottom: 1px solid #d8d8d8;
      overflow: hidden;
      height: 125px;
      cursor: pointer;
      .date {
        float: right;
        color: #9b9b9b;
        font-size: 12px;
      }
      h4 {
        margin-top: 0;
      }
      p {
        margin: 0 0 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &:hover {
        background: #f5f5f5;
      }
      &.open {
        height: auto;
        cursor: auto;
        p {
          white-space: normal;
        }
        &:hover {
          background: none;
        }
      }
    }
  }
  .pagination-wrapper {
    text-align: center;
    .pagination-prev,
    .pagination-next {
      font-family: FontAwesome;
    }
  }
}
