  .myadvisor-appointments {
    margin-top: 20px;
    .right-column {
      border-left: 1px solid #d8d8d8;
      height: 1000px;
    }
    .panel {
      border: 0;
    }
    .contact_info {}
    .content-tabs {
      margin: 110px auto;
      .sub-tabs {
        margin: 40px auto;
      }
      .content-margin {
        padding-bottom: 40px;
      }
      .acc-heading {
        .acc-l-title {
          font-size: 18px;
          color: #2d2d2d;
        }
        .acc-m-title {
          font-size: 14px;
          line-height: 1;
          color: #aaaaaa;
        }
        .acc-s-title {
          font-size: 14px;
          line-height: 1;
          color: #3c3c3c;
          margin-top: 50px;
        }
        .acc-ss-title {
          font-size: 11px;
          line-height: 1;
          color: #8c8c8c;
        }
        .status {
          margin: 25px auto;
        }
        .appointment-status {
          font-size: 14px;
          color: #444444;
          text-align: right;
        }
      }
      .editable-controls {
        input {
          width: 580px;
          border-radius: 2px;
          background-color: #f5f5f5;
        }
        textarea {
          resize: none;
          border-radius: 2px;
          background-color: #f5f5f5;
          pre {
            background-color: red;
          }
        }
      }
    }
  }
