.search-client {
  margin: $unit * 2 auto;
  font-size: $font-size-h3;
  .search-input {
    height: $unit * 10;
    padding-left: $unit * 10;
    border: 0;
    outline: none;
  }
  .alphabet-divider {
    background-color: $color-c14;
  }
  .client-info {
    line-height: 2.6;
    border-bottom: 1px solid $color-c14;
    .address {
      font-size: $font-size-base;
      margin-left: $unit * 2;
      color: $color-c16;
    }
  }
}
