<div class="advisor-navbar-availability-popover">
	<div class="row action-row">
		<div class="col-sm-12">
			<a href="#" ng-click="(isMayDaySessionActive ? false : openStatusList = !openStatusList)" ng-class="{'linkDisabled': isMayDaySessionActive}">
				<div class="row">
					<div class="col-sm-10">
						Availability
					</div>
					<div class="col-sm-2">
						<i class="fa fa-plus fa-2" ng-show="!openStatusList"></i>
						<i class="fa fa-minus fa-2" ng-show="openStatusList"></i>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div ng-repeat="status in getStatusList()" class="row action-row status-list" ng-if="openStatusList" ng-class="{'selected-status': (status === currentStatus)}">
		<a href="#" ng-click="changeStatus(status)">
			<div class="col-sm-12">{{status}}</div>
		</a>
	</div>
	<div class="row action-row">
		<div class="col-sm-12"><a  ui-sref="{{ AdvisorCtrl.stringConstants.advisor.profile.navUrl }}" data-elm-id="{{getAutomationId('profile-setting','link')}}">Profile Setting</a></div>
	</div>
	<div class="row action-row no-bottom-border">
		<div class="col-sm-12"><a href="#" data-elm-id="{{getAutomationId('log-out-navbar','link')}}">Log Out</a></div>
	</div>
</div>