<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="AdvisorCtrl.toggleNavigation()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="nav navbar-nav">
        <li>
          <a href="#" class="user-badge" data-elm-id="{{getAutomationId('navbar-drop-down','link')}}" uib-popover-template="'app/advisor/main/views/_availability_status.html'" popover-placement="bottom" popover-trigger="outsideClick">
            <div class="profile-pic">
              <img src="/assets/images/profile-pic.jpg" alt="">
            </div>
            <div class="details">
              <span class="name">Advisor Profile</span>
              <span class="online-status online">{{currentStatus}}</span>
            </div>
            <i class="glyphicon glyphicon-chevron-down down-pointer"></i>
          </a>
        </li>
      </ul>
    </div>
    <div id="navbar" class="navbar-collapse" uib-collapse="AdvisorCtrl.isNavCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li ui-sref-active="active"><a ui-sref="{{ AdvisorCtrl.stringConstants.advisor.dashboard.navUrl }}" data-elm-id="{{getAutomationId('dashboard-navbar','link')}}">{{ AdvisorCtrl.stringConstants.advisor.dashboard.navTitle }}</a></li>
        <li ui-sref-active="active"><a ui-sref="{{ AdvisorCtrl.stringConstants.advisor.performance.navUrl }}" data-elm-id="{{getAutomationId('performance-navbar','link')}}">{{ AdvisorCtrl.stringConstants.advisor.performance.navTitle }}</a></li>
        <li ui-sref-active="active"><a ui-sref="{{ AdvisorCtrl.stringConstants.advisor.notifications.navUrl }}" data-elm-id="{{getAutomationId('notification-navbar','link')}}">{{ AdvisorCtrl.stringConstants.advisor.notifications.navTitle }} <span class="badge">3</span></a></li>
        <li ui-sref-active="active">
          <modal-directive name="Client Book" custom-css="full-screen" template-dir="app/advisor/clientbook/views/" modal-template="_search" data-elm-id="{{getAutomationId('notification-navbar','link')}}"></modal-directive>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container" ng-controller="ConferenceController as conferenceCtrl">
  <div ng-include="'app/advisor/dashboard/views/conference_confirm_dialog.html'"></div>
  <div ui-view></div>
</div>
