.advisor-profile {
  .profile-bio {
    .pencil-icon {
      color: #1eb7fa;
      cursor: pointer;
    }
    .bio-content {
      margin: 20px auto;
      font-size: 20px;
      line-height: 1.6;
    }
    .editable-controls {
      textarea {
        resize: none;
        border-radius: 2px;
        border: solid 1px #cbcbcb;
      }
    }
    .characters-left {
      font-size: 14px;
      line-height: 2.3;
    }
    .error {
      color: #d0021b;
    }
    .button-custom {
      margin-right: 70px;
    }
  }
  .profile-photo {
    .photo-box {
      width: 280px;
      height: 280px;
      border-radius: 4px;
      background-color: #d8d8d8;
      border: solid 1px #979797;
      text-align: center;
      .image-icon {
        margin: 90px 0;
      }
    }
  }
}
