.onboarding {
    .text-center {
        button {
            margin: 30px 0;
            width: 100%;
        }
    }

    .desc {
        margin-top: 50px;
    }

    .overlayPlayContainer .iconButton {
        display: none;
    }
}

.contract {
    .div-scrollable {
        height: 500px;
        overflow: auto;
    }
}


/*
Video screen & Splash screen 
*/

.videoFullScreen {
    .modal-dialog {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        border: 0;
        margin: 0;
    }

    .closeButton {
        display: inline;
        position: absolute;
        top: 1px;
        z-index: 10000;
        right: 0px;
    }
}

.rowScroll {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

.splash-screen-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    z-index: 100;
    color: $color-c19;
    @extend .rowScroll;

    .footer-height {
        position: fixed;
        bottom: 10px;
        width: 100%;
    }

    .logo {
        text-align: center;
        padding-top: 6%;
        padding-bottom: 2%;

        .title {
            font-family: $font-regular;
            font-size: $font-size-extra-small*5;
            font-weight: bold;
            margin-left: 3%;
        }
    }

    .horizentalLine {
        height: 1px;
        background-color: $color-c19;
    }

    .text-Button {
        text-align: center;
        padding-top: 4%;

        .loyalty-text {
            font-family: $font-regular;
            font-size: $font-size-h1;
            font-weight: 300;
            line-height: 1.13;
        }

        .play-button {
            padding-top: 2.8%;
            font-size: $font-size-extra-small*5;
        }

        .optimize-button {
            margin-top: 4.5%;
        }
    }

    .financialText {
        font-family: $font-regular;
        font-size: $font-size-h2;
        font-weight: 500;
        line-height: 1.42;
        padding-top: 2%;
    }

    .footer-link {
        padding-top: 4%;
        text-align: center;

        a {
            color: $color-c19;
        }

        .centerLinks {
            padding: 0% 10%;
        }
    }
}

.custom-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

.video-fullScreen {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    padding: 0;
}


/*
Contract Agreement 
*/

.onboardingcontract {
    width: 100%;
    @extend .rowScroll;

    .client-agreement {
        font-size: $font-size-h1;
        font-weight: 300;
        color: $color-c3;
        padding-top: 3%;
    }

    .input-custom {
        width: 40%;
        height: 40px;
        padding-left: 30px;
    }

    .borderRed {
        border: 1px solid $color-c22;
    }

    .blurText {
        color: $color-c25;
    }

    .email-icon {
        position: relative;
        left: -39%;
        color: $color-c25;
        top: 4.3%;
    }

    .legal-term {
        hr {
            margin-top: -10px;
        }
    }

    .footer-button {
        text-align: center;
        margin-top: 4%;
        background-color: $color-c27;

        hr {
            margin-top: 0px;
        }

        .disableButton {
            border-radius: 2px;
            -webkit-backdrop-filter: blur(0.6px);
            backdrop-filter: blur(0.6px);
            background-color: $color-c27;
            box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.7);
            border: solid 1px $color-c15;
        }

        .disableButton {
            color: $color-c17;
            backdrop-filter: blur(0.6px);
            background-color: $color-c27;
            box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.7);
            border: solid 1px $color-c15;
        }
    }
}


/*
Find advisor
*/

.match-advisor-screen {
    width: 100%;
    height: 100%;
    background-color: $color-c1;
    position: absolute;
    color: $color-c19;
    text-align: center;
    top: 0;

    .find-advisor {
        width: 100%;
        height: 100%;
        position: relative;

        .finding-advisor-text {
            height: 40%;
            padding-top: 10%;
        }

        .bottom-text {
            height: 40%;
            padding-top: 6%;
            color: $color-c28;
        }

        .spinner-container {
            .illustration-icon {
                position: relative;
                top: -41px;
                left: -106px;
            }
        }
    }
}


/*
Send advisor message screen
*/

.send-msg-screen {
    width: 100%;
    min-height: 100%;
    background-image: linear-gradient(bottom, #2b4460 50%, #263d56 50%);
    background-image: -o-linear-gradient(bottom, #2b4460 50%, #263d56 50%);
    background-image: -moz-linear-gradient(bottom, #2b4460 50%, #263d56 50%);
    background-image: -webkit-linear-gradient(bottom, #2b4460 50%, #263d56 50%);
    background-image: -ms-linear-gradient(bottom, #2b4460 50%, #263d56 50%);
    background-color: $color-c1;
    position: absolute;
    color: $color-c19;
    text-align: center;
    top: 0;

    .returnLink:hover {
        color: $color-c19;
    }

    .advisor-selected {
        min-height: 40%;
        position: absolute;
        top: 0;
        padding:6%;
    }

    .spinner-container {
        min-height: 20%;
        position: absolute;
        top: 40%;
        display: flex;
        align-items: center;
        .advisorImg {
            width: 105px;
            height: 105px;
            border-radius: 53px;
        }
    }

    .bottom-text {
        min-height: 5%;
        position: absolute;
        top: 60%;
        color: $color-c28;
    }

    .footerButton {
        min-height: 35%;
        padding-top:6%;
        position: absolute;
        top: 65%;
    }
}




/*
Advisor Screen
*/

.advisor-matched {
    .congrats-text {
        padding-top: 6%;
        padding-bottom: 1%;
        border-bottom: 1px solid $color-c15;
    }

    .blurText {
        color: $color-c25;
    }

    .advisor-content {
        border-bottom: 1px solid $color-c15;
        padding: 2% 0%;

        .advisor-details {
            .advisor-info {
                width: 70%;
                float: left;

                .adv-name {
                    font-size: $font-size-h2;
                    color: $color-c3;
                    margin-bottom: 6%;
                }
            }

            .advisor-photo {
                width: 30%;
                float: left;

                img {
                    width: 158.8px;
                    height: 175px;
                    border-radius: 82px;
                }
            }
        }
    }

    .footer-button {
        text-align: center;
        padding: 2% 0%;
    }

    .steps-bar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        background: $color-c13;
        padding: 15px 0;
        height: 60px;
        border-bottom: 1px solid $color-c12;

        .steps {
            margin: 6px 0 0 -5px;
            font-size: 14px;
            color: $color-c9;

            > li {
                padding: 0 0 0 50px;

                &:first-child {
                    padding-left: 0;
                }

                &.active {
                    color: $color-c8;
                }
            }
        }

        &.fixed-at-top {
            position: fixed;
            top: 0;
        }
    }
}


/*
  Advisor Selection Dialog box
*/

.advisorFullScreen {
    .modal-dialog {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        border: 0;
        margin: 0;

        .modal-content {
            background-color: transparent;
            text-align: center;
            padding: 5% 0%;
        }

        .close-button {
            right: 0px;
            top: 1px;
            position: absolute;
        }

        .advisor-content {
            width: 35%;
            display: inline-block;
            background-color: $color-c19;
            margin-right: 10px;
            text-align: left;
            border-radius: 5px;
            padding: 2%;

            .blurText {
                color: $color-c25;
            }

            .advisor-info {
                width: 70%;
                float: left;

                .adv-name {
                    font-size: $font-size-h2;
                    color: $color-c3;
                    margin-bottom: 6%;
                }
            }

            .advisor-photo {
                width: 30%;
                float: left;

                img {
                    width: 111px;
                    height: 111px;
                    border-radius: 51px;
                }
            }

            .advisor-bio {
                display: inline-block;
            }

            .dialog-footer {
                text-align: center;
                padding-top: 6%;
            }
        }
    }
}

/*investment profile*/

.circle {
    background: #f1c302;
    border-radius: 30px;
    color: white;
    height: 60px;
    font-weight: bold;
    width: 60px;
    display: table;
    margin: 20px auto;
    border: 1px solid black;
}


/*
Spinner CSS
*/

ul#progress {
    list-style: none;
    width: 44%;
    position: relative;
    left: 0%;
    top: 14px;
    display: inline-block;
}

ul#progress li {
    float: left;
    position: relative;
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 50px;
    margin-left: 22px;
    border-left: 1px solid #111;
    border-top: 1px solid #111;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    background: #000;
}

ul#progress li:first-child {
    margin-left: 0;
}

.ball {
    background-color: #2187e7;
    background-image: -moz-linear-gradient(90deg, #2187e7 25%, #a0eaff);
    background-image: -webkit-linear-gradient(90deg, #2187e7 25%, #a0eaff);
    width: 15px;
    height: 15px;
    border-radius: 50px;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -moz-animation: loading 1s linear forwards;
    -webkit-animation: loading 1s linear forwards;
}

.pulse {
    width: 15px;
    height: 15px;
    border-radius: 30px;
    border: 1px solid #00c6ff;
    box-shadow: 0 0 5px #00c6ff;
    position: absolute;
    top: -1px;
    left: -1px;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -webkit-animation: pulse 1s ease-out;
    -moz-animation: pulse 1s ease-out;
}


/* Control Layers */

#layer1 {
    -moz-animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

#layer2 {
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

#layer3 {
    -moz-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}

#layer4 {
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
}

#layer5 {
    -moz-animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}

#layer6 {
    -moz-animation-delay: 3.0s;
    -webkit-animation-delay: 3.0s;
}

#layer7 {
    -moz-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}

#layer8 {
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
}

#layer9 {
    -moz-animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}

#layer10 {
    -moz-animation-delay: 3s;
    -webkit-animation-delay: 3s;
}

#layer11 {
    -moz-animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
}

#layer12 {
    -moz-animation-delay: 4.0s;
    -webkit-animation-delay: 4.0s;
}

@-moz-keyframes loading {
    0% {
        -moz-transform: scale(0, 0);
    }

    100% {
        -moz-transform: scale(1, 1);
    }

    ;
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: scale(0, 0);
    }

    100% {
        -webkit-transform: scale(1, 1);
    }

    ;
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(0);
        opacity: 0;
    }

    10% {
        -moz-transform: scale(1);
        opacity: 0.5;
    }

    50% {
        -moz-transform: scale(1.75);
        opacity: 0;
    }

    100% {
        -moz-transform: scale(0);
        opacity: 0;
    }

    ;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
    }

    10% {
        -webkit-transform: scale(1);
        opacity: 0.5;
    }

    50% {
        -webkit-transform: scale(1.75);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(0);
        opacity: 0;
    }

    ;
}
