<!doctype html>
<html ng-app="MainApp" ng-strict-di>

<head>
  <!-- START Tag MGMT Code **DO NOT REMOVE** -->
  <!-- <script type="text/javascript" src="//nexus.ensighten.com/rbc/MyAdvisor/Bootstrap.js"></script> -->
  <!-- END Tag MGMT Code**DO NOT REMOVE** -->
  <script src="https://static.opentok.com/v2/js/opentok.js" charset="utf-8"></script>
  <meta charset="utf-8">
  <title>MyAdvisor - {{title}}</title>
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{keywords}}" />
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css({.tmp/serve,src}) /styles/vendor.css -->
  <!-- bower:css -->
  <!-- run `gulp inject` to automatically populate bower styles dependencies -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css({.tmp/serve,src}) /styles/app.css -->
  <!-- inject:css -->
  <!-- css files will be automatically insert here -->
  <!-- endinject -->
  <!-- endbuild -->
  <base href="/">
</head>

<body>
  <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <div ui-view></div>
  <!-- build:js(src) scripts/vendor.js -->
  <!-- bower:js -->
  <!-- run `gulp inject` to automatically populate bower script dependencies -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:js({.tmp/serve,.tmp/partials}) scripts/app.js -->
  <!-- inject:js -->
  <!-- js files will be automatically insert here -->
  <!-- endinject -->
  <!-- inject:partials -->
  <!-- angular templates will be automatically converted in js and inserted here -->
  <!-- endinject -->
  <!-- endbuild -->
  <script src="/bower_components/highcharts/modules/no-data-to-display.js"></script>
</body>
</html>
