<div class="col-sm-12 widget advisor-profile-box">
	<div class="row">
		<div class="col-sm-3">
			<img src="/assets/images/advisor-profile-pic.png" alt="" class="profile-pic" />
		</div>
		<div class="col-sm-9 profile-details">
			<p>Your advisor is</p>
			<div>Jonathan Candy</div>
			<a href="#" class="btn-link" ng-click="appointmentCtrl.sendMailtoAdvisor()" data-elm-id="{{getAutomationId('email-your-advisor','link')}}">Email Advisor</a>
		</div> 
	</div>
	<div class="row">
		<div class="col-sm-12 profile-desc">
			John has served in a variety of roles in the financial advisory industry. <a href="#" class="btn-link" data-elm-id="{{getAutomationId('more-profile-desc','link')}}">more…</a>
		</div>
	</div>
</div>