<div class="charts clearfix">
  <div class="expand-collapse-chart" ng-if="!SandBoxCtrl.isSandBox">
    <a href="#" ng-click="cfCtrl.expandCollapse()" data-elm-id="{{getAutomationId('cash-flow-expand-collapse','link')}}">{{cfCtrl.isExpanded ? 'Collapse' : 'Expand'}}</a>
  </div>
  <chart-directive options="cfCtrl.chartOptions" isexpand="cfCtrl.isExpanded" class="hc-chart">Cash Flow Chart</chart-directive>
</div>
