<div class="page-tab-content" ng-controller="CashFlowController as cfCtrl">
  <div class="row client-dashboard-loader" ng-if="cfCtrl.isLoading">
    <div class="col-md-12">
      <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <h1>You have a total cash flow of $1,025,000.</h1>
  <div class="row row-eq-height column-wrapper" ng-if="!cfCtrl.isLoading">
    <div class="col-md-4 data-column js-cash-flow-chart-left" ng-if="!SandBoxCtrl.isSandBox">
      <div ng-include="'app/client/dashboard/views/_cash-flow-table.html'"></div>
    </div>
    <div class="chart-column js-cash-flow-chart" ng-class='{ "col-md-8" : !SandBoxCtrl.isSandBox, "col-md-12" : SandBoxCtrl.isSandBox }'>
      <div ng-include="'app/client/dashboard/views/_cash-flow-chart.html'"></div>
    </div>
  </div>
</div>
