<div class="accordion-table">
  <h4 class="accordion-header">Cash on Hand <span class="amount pull-right">{{ 880 | currency:'$':0 }}</span></h4>
  <uib-accordion>
    <uib-accordion-group ng-repeat="data in cfCtrl.cashData" is-open="isOpen" data-elm-id="{{getAutomationId('cash-flow','accordion',$index+1)}}">
      <uib-accordion-heading><i class="fa fa-caret-right" ng-if="data.items && !isOpen"></i><i class="fa fa-caret-down" ng-if="data.items && isOpen"></i>{{ data.title }} <span class="amount">{{ data.amount | currency:'$':0 }}</span></uib-accordion-heading>
      <div class="contents" ng-if="data.items">
        <ul class="sub-items">
          <li ng-repeat="item in data.items">
            <div class="clearfix"><a href="#" data-elm-id="{{getAutomationId('cash-flow-title','link',($index+1).toString()+($parent.$index+1))}}">{{ item.title }}</a><span class="pull-right">{{ item.amount | currency:'$':0 }}</span></div>
            <ul class="sub-items" ng-if="item.items">
              <li ng-repeat="subitem in item.items">
                <a href="#" data-elm-id="{{getAutomationId('cash-flow-subtitle','link',($index+1).toString()+($parent.$index+1))}}">{{ subitem.title }}</a><span class="pull-right">{{ subitem.amount | currency:'$':0 }}</span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </uib-accordion-group>
  </uib-accordion>
  <p class="footnote">* Automatically Updated ** Manually Updated</p>
</div>
