<div class="text-center">
  <div class="meeting-progress-box">
    <div ng-if="conferenceCtrl.isWaitingRoomEnabled()"><i class="fa fa-circle fa-1 connecting" aria-hidden="true"></i> Connecting to {{conferenceCtrl.advisorName}}</div>
    <div ng-if="conferenceCtrl.isAdvisorDecline()"><i class="fa fa-circle fa-1 missed" aria-hidden="true"></i> You are not connected</div>
    <div ng-if="conferenceCtrl.isConferenceStart() && connected">
      <div class="pull-left"><i class="fa fa-circle fa-1 connected" aria-hidden="true"></i> {{conferenceCtrl.advisorName}}</div>
      <div class="pull-right">{{conferenceCtrl.elapsed}}</div>
    </div>
  </div>
  <div ng-if="conferenceCtrl.isConferenceStart() && connected" ng-mouseenter="conferenceCtrl.toggleVideoControls(true)" ng-mouseleave="conferenceCtrl.toggleVideoControls(false)">
    <div ng-include="'app/shared/views/_mayday-conference-widget.html'"></div>
  </div>
  <div ng-if="conferenceCtrl.isWaitingRoomEnabled()">
    <div class="waiting-room-loader">
      <div class="video-loader">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="text-center" ng-if="conferenceCtrl.isAdhocMeeting">
      <button class="button btn btn-default" ng-click="conferenceCtrl.cancelAdHocCallSync()" data-elm-id="{{getAutomationId('cancel-video','button')}}">Cancel Request</button>
    </div>
    <div class="text-center" ng-if="!conferenceCtrl.isAdhocMeeting">
      <button class="button btn btn-default" ng-click="conferenceCtrl.timeOutScheuledCallReq()" data-elm-id="{{getAutomationId('cancel-video','button')}}">Leave Appointment</button>
    </div>
  </div>
</div>