<div class="modal-body text-center">
  <h1>Delink Account</h1>
  <p>Are you sure you want to delink this account?</p>
  <a class="btn btn-success" ng-click="daCtrl.YesDelinkAccount()">Yes</a>
  <br>
  <a class="btn btn-link" ng-click="daCtrl.closeDelinkPopup()">No</a>
</div>
