<div class="col-sm-12 widget" ng-controller="EditGoalController as egCtrl">
  <div ng-if="!egCtrl.isEditGoal">
    <p class="text-bold">Need to Make Adjustments?</p>
    <p class="text-small">You may edit and make adjustments to your selected goal.</p>
    <button class="btn btn-success btn-block" ng-click="egCtrl.editGoal()">Edit Goals</button>
  </div>
  <div ng-if="egCtrl.isEditGoal">
    <div class="form-group control-group no-top-padding">
      <a href="#" class="add-link">Add Goal</a>
      <label>Select a Goal</label>
      <select class="form-control" ng-model="egCtrl.currentGoalType" ng-change="egCtrl.changeGoal(egCtrl.currentGoalType)">
        <option ng-repeat="goal in egCtrl.listGoals" value="{{ goal.type }}">{{ goal.name }}</option>
      </select>
    </div>
    <div ng-if="egCtrl.currentGoalType === 'RETIREMENT'" ng-include="'app/client/dashboard/views/_edit-retirement-goal.html'"></div>
    <div ng-if="egCtrl.currentGoalType === 'EDUCATION_DEPENDENT'" ng-include="'app/client/dashboard/views/_edit-dependent-education-goal.html'"></div>
    <div ng-if="egCtrl.currentGoalType === 'EDUCATION_SELF'" ng-include="'app/client/dashboard/views/_edit-self-education-goal.html'"></div>
    <div ng-if="egCtrl.currentGoalType === 'PURCHASE'" ng-include="'app/client/dashboard/views/_edit-purchase-goal.html'"></div>
  </div>
</div>
