<div class="form-group">
  <label>Edit Cash Flow</label>
  <select class="form-control">
    <option>Expenses</option>
    <option>Expenses 1</option>
    <option>Expenses 2</option>
  </select>
</div>
<div class="form-group">
  <label>Clothing & Personal Care</label>
  <input type="text" class="form-control" value="$10,000">
</div>
<div class="form-group">
  <label>Entertainment</label>
  <input type="text" class="form-control" value="$10,000">
</div>
<div class="form-group">
  <label>Food and Groceries</label>
  <input type="text" class="form-control" value="$10,000">
</div>
<div class="form-group">
  <label>Housing</label>
  <input type="text" class="form-control" value="$10,000">
</div>
<div class="form-group">
  <label>Transportation</label>
  <input type="text" class="form-control" value="0">
</div>
<div class="form-group">
  <label>Utilities</label>
  <input type="text" class="form-control" value="$10,000">
</div>
<div class="form-group">
  <label>Other</label>
  <input type="text" class="form-control" value="$10,000">
</div>
<hr/>
<div class="form-group">
    <label>Monthly Amount</label>
    <label class="pull-right">$60,000</label>
</div>
<div class="form-group">
    <label>Annual Expenses</label>
    <label class="pull-right">$720,000</label>
</div>
<button class="btn btn-primary btn-block" ng-click="SandBoxCtrl.saveGoal()">Save Changes</button>
