<div class="form-group">
  <label>Description</label>
  <input type="text" class="form-control" value="New Car">
</div>
<div class="form-group">
  <label>Down Payment Amount</label>
  <input type="text" class="form-control" value="$10,000">
</div>
<div class="form-group">
  <label>Age I will need this</label>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Yes
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> No
    </label>
  </div>
</div>
