<div class="form-group control-group">
  <label>Expected Cost Per Year</label>
  <input type="text" class="form-control" ng-model="egCtrl.selfEducationGoal.costPerYear">
</div>
<div class="form-group control-group">
  <label>Number of Years of Education</label>
  <input type="text" class="form-control" ng-model="egCtrl.selfEducationGoal.educationInfos[0].numberOfYears">
</div>
<div class="form-group control-group">
  <label>Start Year</label>
  <input type="text" class="form-control" ng-model="egCtrl.selfEducationGoal.educationInfos[0].startYear">
</div>
<div class="form-group control-group">
  <a href="#" class="add-link">Add Account</a>
  <label>Funding Accounts</label>
  <ul class="accounts-list" ng-if="egCtrl.hasAccounts(egCtrl.selfEducationGoal)">
    <li ng-repeat="account in egCtrl.selfEducationGoal.accounts"><a href="#" class="icon" ng-click="egCtrl.confirmDelinkAccount(account)"><i class="fa fa-trash-o"></i></a>{{ account.institutionName }} {{ account.investmentType }}</li>
  </ul>
  <p ng-if="!egCtrl.hasAccounts(egCtrl.selfEducationGoal)" class="text-danger">You are not funding this goal.</p>
</div>
<div class="form-group control-group">
  <label>Importance of Goal</label>
  <select class="form-control" ng-model="egCtrl.selfEducationGoal.importance">
    <option value="NEED_TO_HAVE">Need to Have</option>
    <option value="NICE_TO_HAVE">Nice to Have</option>
    <option value="ASPIRATIONAL">Aspirational</option>
  </select>
</div>
<button class="btn btn-primary btn-block top-margin" ng-click="egCtrl.updateGoal()">Update Goal</button>
<button class="btn btn-default btn-block top-margin" ng-click="egCtrl.deleteGoal()">Delete Goal</button>
