<div class="form-group control-group" ng-show="!egCtrl.isEditDependent">
  <a href="#" class="add-link">Add Student</a>
  <label>Students</label>
  <ul class="accounts-list">
    <li ng-repeat="dependent in egCtrl.dependentEducationGoal.educationInfos"><a href="#" ng-click="egCtrl.editDependent(dependent)"><i class="fa fa-pencil pull-right"></i></a>{{ dependent.name }}</li>
  </ul>
</div>
<div ng-show="egCtrl.isEditDependent">
  <div class="form-group control-group">
    <a href="#" class="add-link">Remove Student</a>
    <label>Student Name</label>
    <input type="text" class="form-control" ng-model="egCtrl.editDependentInfo.name">
  </div>
  <div class="form-group control-group">
    <label>Student Date of Birth</label>
    <select class="form-control" ng-options="month.text for month in egCtrl.monthsDropdown" ng-model="egCtrl.dobMonth">
    </select>
    <select class="form-control" ng-options="date.text for date in egCtrl.datesDropdown" ng-model="egCtrl.dobDate">
    </select>
    <select class="form-control" ng-options="year.text for year in egCtrl.yearsDropdown" ng-model="egCtrl.dobYear">
    </select>
  </div>
  <div class="form-group control-group">
    <label>Age at Start of Education</label>
    <select class="form-control" ng-options="month.text for month in egCtrl.educationStartDropdown" ng-model="egCtrl.educationStartAge" ng-change="egCtrl.setEducationStartAge()">
    </select>
  </div>
  <div class="form-group control-group">
    <label>Number of Years of Education</label>
    <select class="form-control" ng-options="month.text for month in egCtrl.educationYearsDropdown" ng-model="egCtrl.educationNumberOfYears" ng-change="egCtrl.setEducationNumberOfYears()">
    </select>
  </div>
  <div class="form-group control-group">
    <label>Expected Cost Per Year (Today $)</label>
    <input type="text" class="form-control" ng-model="egCtrl.editDependentInfo.costPerYear">
  </div>
  <button class="btn btn-primary btn-block top-margin" ng-click="egCtrl.saveEditDependent()">Save</button>
  <button class="btn btn-default btn-block top-margin" ng-click="egCtrl.closeEditDependent()">Cancel</button>
</div>
<div class="form-group control-group">
  <label>Total Education Cost (Today $)</label>
  <input type="text" class="form-control" ng-model="egCtrl.dependentEducationGoal.costPerYear">
</div>
<div class="form-group control-group">
  <a href="#" class="add-link">Add Account</a>
  <label>Funding Accounts</label>
  <ul class="accounts-list" ng-if="egCtrl.hasAccounts(egCtrl.dependentEducationGoal)">
    <li ng-repeat="account in egCtrl.dependentEducationGoal.accounts"><a href="#" class="icon" ng-click="egCtrl.confirmDelinkAccount(account)"><i class="fa fa-trash-o"></i></a>{{ account.institutionName }} {{ account.investmentType }}</li>
  </ul>
  <p ng-if="!egCtrl.hasAccounts(egCtrl.dependentEducationGoal)" class="text-danger">You are not funding this goal.</p>
</div>
<div class="form-group control-group">
  <label>Importance of Goal</label>
  <select class="form-control" ng-model="egCtrl.dependentEducationGoal.importance">
    <option value="NEED_TO_HAVE">Need to Have</option>
    <option value="NICE_TO_HAVE">Nice to Have</option>
    <option value="ASPIRATIONAL">Aspirational</option>
  </select>
</div>
<button class="btn btn-primary btn-block top-margin" ng-click="egCtrl.updateGoal()">Update Goal</button>
<button class="btn btn-default btn-block top-margin" ng-click="egCtrl.deleteGoal()">Delete Goal</button>
