<div class="form-group control-group" ng-if="!egCtrl.isRetired">
  <label>Estimated Retirement Age</label>
  <slider class="range-slider" ng-model="egCtrl.retirementGoal.myself.retirementAge" min="egCtrl.retirementSlider.min" max="egCtrl.retirementSlider.max" step="egCtrl.retirementSlider.step" ticks="egCtrl.retirementSlider.ticks" ticks-labels="egCtrl.retirementSlider.ticksLabels" formatter="egCtrl.getToolTip('', '', value)"></slider>
</div>
<div class="form-group control-group">
  <label>Estimated Life Expectancy</label>
  <slider class="range-slider" ng-model="egCtrl.retirementGoal.myself.lifeExpectancy" min="egCtrl.lifeExpectancySlider.min" max="egCtrl.lifeExpectancySlider.max" step="egCtrl.lifeExpectancySlider.step" ticks="egCtrl.lifeExpectancySlider.ticks" ticks-labels="egCtrl.lifeExpectancySlider.ticksLabels" formatter="egCtrl.getToolTip('', '', value)"></slider>
</div>
<div ng-if="egCtrl.retirementGoal.spouse">
  <div class="form-group control-group" ng-if="!egCtrl.isSpouseRetired">
    <label>Spouse's Estimated Retirement Age</label>
    <slider class="range-slider" ng-model="egCtrl.retirementGoal.spouse.retirementAge" min="egCtrl.spouseRetirementSlider.min" max="egCtrl.spouseRetirementSlider.max" step="egCtrl.spouseRetirementSlider.step" ticks="egCtrl.spouseRetirementSlider.ticks" ticks-labels="egCtrl.spouseRetirementSlider.ticksLabels" formatter="egCtrl.getToolTip('', '', value)"></slider>
  </div>
  <div class="form-group control-group">
    <label>Spouse's Estimated Life Expectancy</label>
    <slider class="range-slider" ng-model="egCtrl.retirementGoal.spouse.lifeExpectancy" min="egCtrl.spouseLifeExpectancySlider.min" max="egCtrl.spouseLifeExpectancySlider.max" step="egCtrl.spouseLifeExpectancySlider.step" ticks="egCtrl.spouseLifeExpectancySlider.ticks" ticks-labels="egCtrl.spouseLifeExpectancySlider.ticksLabels" formatter="egCtrl.getToolTip('', '', value)"></slider>
  </div>
</div>
<div class="form-group control-group" ng-if="!egCtrl.isRetired">
  <label>Estimated Annual Retirement Spending</label>
  <p class="text-small">Your current annual spend: $40,000</p>
  <input type="text" class="form-control" ng-model="egCtrl.retirementGoal.expenseAmount">
  <p class="text-small">{{ egCtrl.retirementGoal.expenseAmount/12 | currency:'$':2 }} per month</p>
</div>
<div class="form-group control-group">
  <a href="#" class="add-link">Add Account</a>
  <label>Funding Accounts</label>
  <ul class="accounts-list" ng-if="egCtrl.hasAccounts(egCtrl.retirementGoal)">
    <li ng-repeat="account in egCtrl.retirementGoal.accounts"><a href="#" class="icon" ng-click="egCtrl.confirmDelinkAccount(egCtrl.retirementGoal.id, account.id)"><i class="fa fa-trash-o"></i></a>{{ account.institutionName }} {{ account.investmentType }}</li>
  </ul>
  <p ng-if="!egCtrl.hasAccounts(egCtrl.retirementGoal)" class="text-danger">You are not funding this goal.</p>
</div>
<div class="form-group control-group">
  <label>Importance of Goal</label>
  <select class="form-control" ng-model="egCtrl.retirementGoal.importance">
    <option value="NEED_TO_HAVE">Need to Have</option>
    <option value="NICE_TO_HAVE">Nice to Have</option>
    <option value="ASPIRATIONAL">Aspirational</option>
  </select>
</div>
<button class="btn btn-primary btn-block top-margin" ng-click="egCtrl.updateGoal()">Update Goal</button>
