<div class="col-sm-12 widget" id="ad-hoc-call-controls" ng-if="!conferenceCtrl.isCallSetup">
  <form ng-submit="conferenceCtrl.getMeetingDetailsFromClient()" role="form" name="confirmPhoneForm" class="input-phone">
    <div class="text-center">
      <h5>Before we connect you with your advisor, please provide us with some context for your meeting.</h5>
      <hr class="hr">
    </div>
    <div>
      <h5>Session Type</h5>
      <div class="btn-group" uib-dropdown>
        <button class="btn btn-default" uib-dropdown-toggle data-elm-id="{{getAutomationId('ad-hoc-call-mode','button')}}"><span class="pull-left">{{conferenceCtrl.selectedSession}}</span><span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu>
          <li ng-repeat="session in conferenceCtrl.sessionTypeList"><a href="#" ng-click="conferenceCtrl.updateDetailFilters('selectedSession', session)" data-elm-id="{{getAutomationId('ad-hoc-call-session-mode','link',$index+1)}}">{{session}}</a></li>
        </ul>
      </div>
      <hr class="hr">
    </div>
    <div ng-if="conferenceCtrl.isPhoneCallRequested">
      <h5>Callback Number </h5>
      <div class="input-with-icon">
        <div class="icon phone-icon">  <i class="fa fa-volume-control-phone"></i></div>
        <input type="text" class="form-control" name="clientPhoneNumber" maxlength="14" placeholder="Enter Phone Number" ng-model="conferenceCtrl.phoneNumber" ui-us-phone-number required ng-class="{'error' : conferenceCtrl.phoneError}" ng-keydown="conferenceCtrl.phoneError = false;" data-elm-id="{{getAutomationId('callback-number','text')}}">
      </div>
      <hr class="hr">
    </div>
    <div>
      <h5>Reason for Meeting </h5>
      <div class="btn-group" uib-dropdown>
        <button class="btn btn-default" uib-dropdown-toggle data-elm-id="{{getAutomationId('ad-hoc-call-reason','button')}}"><span class="pull-left">{{!conferenceCtrl.selectedReason ? conferenceCtrl.reasonTypeList[0].name : conferenceCtrl.selectedReason.name}}</span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu>
          <li ng-repeat="reason in conferenceCtrl.reasonTypeList"><a href="#" ng-click="conferenceCtrl.updateDetailFilters('selectedReason', reason)" data-elm-id="{{getAutomationId('ad-hoc-call-type','link',$index+1)}}">{{reason.name}}</a></li>
        </ul>
      </div>
      <hr class="hr">
    </div>
    <div class="text-center">
      <div ng-if="!conferenceCtrl.isRequestDone">
        <div><a class="button btn btn-primary" ng-click="conferenceCtrl.getMeetingDetailsFromClient()" data-elm-id="{{getAutomationId('ad-hoc-request-send','button')}}"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Sending Request...</a></div>
      </div>
      <div ng-if="conferenceCtrl.isRequestDone">
        <div>
          <button type="submit" class="button btn btn-primary" data-elm-id="{{getAutomationId('ad-hoc-call-immediate-help','button')}}">Request for Immediate Help</button>
        </div>
        <div><a href="#" class="btn-link" ng-click="conferenceCtrl.cancelAdHocCallReq()" data-elm-id="{{getAutomationId('ad-hoc-call-cancel-request','link')}}">Cancel Request</a></div>
      </div>
    </div>
  </form>
</div>
<div class="col-sm-12 widget" id="ad-hoc-call-controls" ng-if="conferenceCtrl.phoneCallScheduled">
  <div class="text-center">
    <p>Your advisor will call the number<br/> {{conferenceCtrl.phoneNumber}} shortly.</p>
  </div>
  <div class="text-center">
    <a class="button btn btn-default" ng-click="conferenceCtrl.cancelAdHocCallSync()" data-elm-id="{{getAutomationId('ad-hoc-call-cancel-request','button')}}">Cancel Request</a>
  </div>
</div>
