<div class="goal-details">
  <div class="row">
    <div class="col-sm-12">
      <chart-directive options="goal.chart"></chart-directive>
    </div>
    <div class="col-sm-12 detail-table">
      <div class="row">
        <div class="col-sm-4" ng-repeat="detail in goal.data.details">
          <p class="key">{{ detail.key }}</p>
          <p class="value">{{ detail.value }} <a href="#" ng-if="detail.tooltip" class="help-icon" uib-popover="{{ detail.tooltip }}" popover-append-to-body="true" popover-trigger="outsideClick"><i class="fa fa-question-circle" analytics-on="click" analytics-event="selected tool tip" analytics-category="Client - MVFP" analytics-label="tool tip type - investor profile"></i></a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4" ng-repeat="fund in goal.data.funds">
          <p class="key">{{ fund.key }}</p>
          <p class="value">{{ fund.value | currency:'$':0 }} <a href="#" ng-if="fund.tooltip" class="help-icon" uib-popover="{{ fund.tooltip }}" popover-append-to-body="true" popover-trigger="outsideClick"><i class="fa fa-question-circle" analytics-on="click" analytics-event="selected tool tip" analytics-category="Client - MVFP" analytics-label="tool tip type - projected goal funding"></i></a></p>
          <p class="note">{{ fund.note }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="linked-accounts" ng-if="goal.data.accounts">
    <h4>Accounts Linked to Retirement <a href="#" class="help-icon" uib-popover="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut arcu sit amet nibh sollicitudin iaculis. Morbi efficitur metus in auctor vehicula." popover-append-to-body="true" popover-trigger="outsideClick"><i class="fa fa-question-circle"></i></a></h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th ng-repeat="heading in goal.data.accounts.headings">{{ heading }}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in goal.data.accounts.data">
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
          <td>{{ row[3] | currency:'$':0 }}</td>
        </tr>
      </tbody>
    </table>
    <ul class="list-inline foot-note">
      <li>* Automatically Updated</li>
      <li>** Manually Updated</li>
    </ul>
  </div>
</div>
