<div class="page-tab-content client-goals" ng-controller="GoalsController as goalsCtrl">
  <h1>You have 2 goals in need of attention.</h1>
  <div class="row row-eq-height column-wrapper">
    <div class="col-md-4 data-column">
      <p class="title">Your Goals</p>
      <ul class="goals-list">
        <li ng-repeat="goal in goalsCtrl.listGoals" ng-class="{ 'active': goalsCtrl.currentGoalType === goal.type }">
          <a href="#" ng-click="goalsCtrl.changeGoal(goal.type)"><i class="status text-danger fa fa-exclamation-circle"></i>{{ goal.name }}</a>
        </li>
      </ul>
      <button class="btn btn-default btn-lg" ui-sref="add-goal">Add a New Goal</button>
      
    </div>
    <div class="col-md-8 chart-column">
      <div class="goal-tracking">
        <div ng-include="'app/client/dashboard/views/_goal-details.html'" ng-init="goal = goalsCtrl.goals[0]"></div>
      </div>
    </div>
  </div>
</div>
