<div class="col-sm-12 widget appointment-box">
	<p>Your Advisor is ready for you.</p>
	<div class="buttons-verticle">
	  <a ng-click="conferenceCtrl.initSession(false, appointmentCtrl.upcomingAppointment)" class="btn btn-primary btn-block" ng-disabled="conferenceCtrl.isSessionProgess() && !conferenceCtrl.isAdvisorDecline()" data-elm-id="{{getAutomationId('join-appointment','button')}}">Join Appointment </a>
	  <a class="btn btn-link" ng-disabled="conferenceCtrl.isSessionProgess() && !conferenceCtrl.isAdvisorDecline()" data-elm-id="{{getAutomationId('cancel-appointment','link')}}">Cancel Appointment </a>
	</div>
</div>