<div class="page-tab-content" ng-controller="NetWorthController as nwCtrl">
  <div class="row client-dashboard-loader" ng-if="nwCtrl.isLoading">
    <div class="col-md-12">
      <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <h1>You have a total net worth of {{ nwCtrl.netWorthData.totalNetWorth | currency:'$':2 }}</h1>
  <div class="row row-eq-height column-wrapper" ng-if="!nwCtrl.isLoading">
    <div class="col-md-4 data-column js-net-worth-chart-left" ng-if="!SandBoxCtrl.isSandBox">
      <div ng-include="'app/client/dashboard/views/_net-worth-table.html'"></div>
    </div>
    <div class="chart-column js-net-worth-chart" ng-class='{"col-md-8" : !SandBoxCtrl.isSandBox, "col-md-12" : SandBoxCtrl.isSandBox}'>
      <div ng-include="'app/client/dashboard/views/_net-worth-chart.html'"></div>
    </div>
  </div>
</div>
