<div class="charts clearfix">
  <div class="expand-collapse-chart" ng-if="!SandBoxCtrl.isSandBox">
    <a href="#" ng-click="nwCtrl.expandCollapse()" data-elm-id="{{getAutomationId('expand-collapse-chart','link')}}">{{nwCtrl.isExpanded ? 'Collapse' : 'Expand'}}</a>
  </div>
  <chart-directive options="nwCtrl.chartOptions" isexpand="nwCtrl.isExpanded" class="hc-chart">Net Worth Chart</chart-directive>
</div>
