<div class="accordion-table">
  <h4 class="accordion-header">Total Net Worth<span class="amount pull-right">{{ nwCtrl.netWorthData.totalNetWorth | currency:'$':2 }}</span></h4>
  <uib-accordion>
    <uib-accordion-group ng-if="datakey !== 'totalNetWorth' && datakey !== 'totalAssets'" ng-repeat="(datakey, datavalue) in nwCtrl.netWorthData" is-open="isOpen" data-elm-id="{{getAutomationId('net-worth','accordion',$index+1)}}">
      <uib-accordion-heading><i class="fa fa-caret-right" ng-if="!isOpen"></i><i class="fa fa-caret-down" ng-if="isOpen"></i>{{ datakey | sentanceCase }}
        <span class="amount">{{ datavalue.total | currency:'$':2 }}</span></uib-accordion-heading>
      <div class="contents">
        <ul class="sub-items">
          <li ng-repeat="item in datavalue.accounts">
            <a href="#" data-elm-id="{{getAutomationId('net-worth-title','link',($index+1).toString()+($parent.$index+1))}}">{{ nwCtrl.dataDisplayConditionsForName(item, datakey) }}</a><span class="pull-right">{{ nwCtrl.dataDisplayConditionsForAmount(item, datakey)  | currency:'$':2}}</span>
            <ul class="sub-items" ng-if="item.items">
              <li ng-repeat="subitem in item.items">
                <a href="#" data-elm-id="{{getAutomationId('net-worth-subtitle','link',($index+1).toString()+($parent.$index+1))}}">{{ subitem.title }}</a><span class="pull-right">{{ subitem.amount | currency:'$':2 }}</span>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </uib-accordion-group>
  </uib-accordion>
  <p class="footnote">* Automatically Updated ** Manually Updated</p>
</div>
