<div class="modal-body text-center">
  <h1>Browser not supported.</h1>
  <p>Unfortunately video conferencing is not supported on Safari. Please try connecting with another browser such as Chrome, Firefox, or Edge.</p>
  <p><a class="btn btn-success" ng-click="mCtrl.cancel()" data-elm-id="{{getAutomationId('browser-not-supported','button')}}">Okay, Got It</a></p>
</div>