<div class="modal-body text-center">
  <h1>Device not supported.</h1>
  <p>Video conferencing is not yet available on mobile devices. If possible, we encourage connecting on a desktop computer for the best experience.</p>
  <p>Cannot connect via desktop? No problem, you can schedule to talk to your advisor by phone.</p>
  <p><a class="btn btn-success" ng-click="mCtrl.cancel()" data-elm-id="{{getAutomationId('device-not-supported','button')}}">Okay, Got It</a></p>
</div>