<div class="modal-body text-center">
  <h1>All advisors are currently unavailable.</h1>
  <p>Unfortunately all advisors are busy at the moment. For the best experience, please schedule an appointment in advance with your advisor.</p>
  <p><a class="btn btn-success" ng-click="mCtrl.ok()" data-elm-id="{{getAutomationId('advisor-unavailable-schedule-appointment','button')}}">Schedule an Appointment</a></p>
  <p><a class="btn btn-link" ng-click="mCtrl.cancel()" data-elm-id="{{getAutomationId('never-mind-advisor-unavailable','button')}}">Never Mind</a></p>
</div>