<div class="modal-body text-center">
	<h1>Your advisor is currently unavailable.</h1>
	<p>Jonathan is not available until May 26 at 1:00pm. 
	You may speak to another advisor who is available now or schedule an appointment in advance.</p>
	<p><a class="btn btn-success" ng-click="mCtrl.ok()" data-elm-id="{{getAutomationId('speak-with-other-advisor','button')}}">Yes, I'd like to speak another advisor.</a></p>
	<p><a class="btn btn-success" ng-click="mCtrl.cancel(true)" data-elm-id="{{getAutomationId('schudule-appointment-advisor-unavailable','button')}}">No, I will schedule an Appointment</a></p>
	<p><a class="btn btn-link" ng-click="mCtrl.cancel(false)" data-elm-id="{{getAutomationId('advisor-unavailable-never-mind','button')}}">Never Mind</a></p>
</div>