<div class="modal-body text-center">
  <h1>Looks like we’ve missed you.</h1>
  <p>{{mCtrl.$resolve.modalData.message}}. Please check back during that time if you would like to speak to an advisor.</p>
  <p><a class="btn btn-success" ng-click="mCtrl.cancel()" data-elm-id="{{getAutomationId('missed-call-not-business-hours','button')}}">Okay, Got It</a></p>
</div>