<div class="col-sm-12 widget" ng-show="SandBoxCtrl.isSandBoxTab() && !SandBoxCtrl.isSandBox">
  <h3>Plan for Your Future</h3>
  <p>Explore and see how different variables can affect your financial picture.</p>
  <button class="btn btn-primary btn-block" id="sandbox-popover" ng-click="SandBoxCtrl.activateSandBox()" analytics-on="click" analytics-event="viewed sandbox" analytics-category="Client - MVFP" analytics-label="graph type - net worth" data-elm-id="{{getAutomationId('activate-sandbox-mode','button')}}">Activate Sandbox Mode</button>
</div>
