<div class="modal-body text-center">
	<h1>Would you like to schedule with your advisor to talk about it?</h1>
  <p><a class="btn btn-default" ng-click="mCtrl.ok()" data-elm-id="{{getAutomationId('sandbox-confirm-no','button')}}">No, I'am okay</a></p>
  <p><a class="btn btn-success" ng-click="mCtrl.cancel()" data-elm-id="{{getAutomationId('sandbox-confirm-yes','button')}}">Yes, I'd like that</a></p>
</div>
