<div class="col-sm-12 widget" id="sandbox_controls">
  <div>
    <h5>Select a Goal</h5>
    <div class="btn-group" uib-dropdown>
    	<button class="btn btn-default" uib-dropdown-toggle data-elm-id="{{getAutomationId('select-goal','button')}}"><span class="pull-left">{{SandBoxCtrl.selectedGoal}}</span><span class="caret"></span>
    	</button>
	    <ul class="dropdown-menu" uib-dropdown-menu>
       <li ng-repeat="goal in SandBoxCtrl.selectGoalList"><a href="#" ng-click="SandBoxCtrl.updateSandBox('selectedGoal', goal)" data-elm-id="{{getAutomationId('select-goal-option','link',$index+1)}}">{{goal}}</a></li>
	    </ul>
	  </div>
  </div>
  <hr class="hr">
  <div>
    <h5>Investor Profile <i class="fa fa-question-circle" aria-hidden="true"></i></h5>
    <div class="btn-group" uib-dropdown>
      <button class="btn btn-default" uib-dropdown-toggle data-elm-id="{{getAutomationId('investor-profile','button')}}"><span class="pull-left">{{SandBoxCtrl.selectedInvestorProfile}}</span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu>
       <li ng-repeat="profile in SandBoxCtrl.selectedInvestorProfileList"><a href="#" ng-click="SandBoxCtrl.updateSandBox('selectedInvestorProfile', profile[0], profile[1])" data-elm-id="{{getAutomationId('investor-profile-option','link',$index+1)}}">{{profile[0]}}</a></li>
      </ul>
    </div>
    <div class="text-center"><br/>{{SandBoxCtrl.selectedInvestorProfileDesc}}</div>
    <hr class="hr">
	</div>
  <div ng-if="SandBoxCtrl.selectedGoal === 'Retirement'">
    <h5>Retirement Age</h5>
    <slider ng-model="sliders.retirementAge" min="SandBoxCtrl.retirementAge.options.min" step="SandBoxCtrl.retirementAge.options.step" max="SandBoxCtrl.retirementAge.options.max" value="SandBoxCtrl.retirementAge.options.value" ticks="SandBoxCtrl.retirementAge.options.ticks" data-slider-handle="custom" ticks-labels="SandBoxCtrl.retirementAge.options.ticksLabels" formatter="SandBoxCtrl.getToolTip('','',value)" on-stop-slide="SandBoxCtrl.updateSandBox('retirement_age', value)"></slider>
    <hr class="hr">
  </div>
  <div ng-if="SandBoxCtrl.selectedGoal === 'Retirement'">
    <h5>Spouse Retirement Age</h5>
    <slider ng-model="sliders.spouseretirementAge" min="SandBoxCtrl.retirementAge.options.min" step="SandBoxCtrl.retirementAge.options.step" max="SandBoxCtrl.retirementAge.options.max" value="SandBoxCtrl.retirementAge.options.value" ticks="SandBoxCtrl.retirementAge.options.ticks" data-slider-handle="custom" ticks-labels="SandBoxCtrl.retirementAge.options.ticksLabels" formatter="SandBoxCtrl.getToolTip('','',value)" on-stop-slide="SandBoxCtrl.updateSandBox('spouse_retirement_age', value)"></slider>
    <hr class="hr">
  </div>
  <div ng-if="SandBoxCtrl.selectedGoal === 'Education'">
    <h5>Annual Cost</h5>
    <h5>Eddie</h5>
    <slider ng-model="sliders.annualCost" min="SandBoxCtrl.annualCost.options.min" step="SandBoxCtrl.annualCost.options.step" max="SandBoxCtrl.annualCost.options.max" value="SandBoxCtrl.annualCost.options.value" ticks="SandBoxCtrl.annualCost.options.ticks" data-slider-handle="custom" ticks-labels="SandBoxCtrl.annualCost.options.ticksLabels" formatter="SandBoxCtrl.getToolTip('$','K',value,1)" on-stop-slide="SandBoxCtrl.updateSandBox('annualCost', value)"></slider>
    <hr class="hr">
  </div>
  <div ng-if="SandBoxCtrl.selectedGoal === 'Major Expense'">
    <h5>Annual Cost</h5>
    <slider ng-model="sliders.amount" min="SandBoxCtrl.amount.options.min" step="SandBoxCtrl.amount.options.step" max="SandBoxCtrl.amount.options.max" value="SandBoxCtrl.amount.options.value" ticks="SandBoxCtrl.amount.options.ticks" data-slider-handle="custom" ticks-labels="SandBoxCtrl.amount.options.ticksLabels" formatter="SandBoxCtrl.getToolTip('$','K',value,1)" on-stop-slide="SandBoxCtrl.updateSandBox('amount', value)"></slider>
    <hr class="hr">
  </div>
  <div ng-if="SandBoxCtrl.selectedGoal === 'Major Expense'">
    <h5>Purchase Year</h5>
    <slider ng-model="sliders.purchaseYear" min="SandBoxCtrl.purchaseYear.options.min" step="SandBoxCtrl.purchaseYear.options.step" max="SandBoxCtrl.purchaseYear.options.max" value="SandBoxCtrl.purchaseYear.options.value" ticks="SandBoxCtrl.purchaseYear.options.ticks" data-slider-handle="custom" ticks-labels="SandBoxCtrl.purchaseYear.options.ticksLabels" formatter="SandBoxCtrl.getToolTip('','',value)" on-stop-slide="SandBoxCtrl.updateSandBox('purchaseYear', value)"></slider>
    <hr class="hr">
  </div>
  <div>
    <h5>Annual Goal Contributions</h5>
    <h5>RRSP - RBC</h5>
    <slider ng-model="sliders.annualGoalContrib" min="SandBoxCtrl.annualGoalContrib.options.min" step="SandBoxCtrl.annualGoalContrib.options.step" max="SandBoxCtrl.annualGoalContrib.options.max" value="SandBoxCtrl.annualGoalContrib.options.value" ticks="SandBoxCtrl.annualGoalContrib.options.ticks" data-slider-handle="custom" ticks-labels="SandBoxCtrl.annualGoalContrib.options.ticksLabels" formatter="SandBoxCtrl.getToolTip('$','K',value,1)" on-stop-slide="SandBoxCtrl.updateSandBox('annualGoalContrib', value)"></slider>
  </div>
  <div>
    <h5>TFSA - RBC</h5>
    <slider ng-model="sliders.annualGoalContribTFSA" min="SandBoxCtrl.annualGoalContribTFSA.options.min" step="SandBoxCtrl.annualGoalContribTFSA.options.step" max="SandBoxCtrl.annualGoalContribTFSA.options.max" value="SandBoxCtrl.annualGoalContribTFSA.options.value" ticks="SandBoxCtrl.annualGoalContribTFSA.options.ticks" data-slider-handle="custom" ticks-labels="SandBoxCtrl.annualGoalContribTFSA.options.ticksLabels" formatter="SandBoxCtrl.getToolTip('$','K',value,1)" on-stop-slide="SandBoxCtrl.updateSandBox('annualGoalContribTFSA', value)"></slider>
    <hr class="hr">
  </div>
  <div ng-if="SandBoxCtrl.selectedGoal === 'Retirement'">
    <h5>Retirement Expenses <i class="fa fa-question-circle" aria-hidden="true"></i></h5>
    <slider ng-model="sliders.retirementExp" min="SandBoxCtrl.retirementExp.options.min" step="SandBoxCtrl.retirementExp.options.step" max="SandBoxCtrl.retirementExp.options.max" value="SandBoxCtrl.retirementExp.options.value" ticks="SandBoxCtrl.retirementExp.options.ticks" data-slider-handle="custom" ticks-labels="SandBoxCtrl.retirementExp.options.ticksLabels" formatter="SandBoxCtrl.getToolTip('$','K',value,1)" on-stop-slide="SandBoxCtrl.updateSandBox('retirementExp', value)"></slider>
    <hr class="hr">
  </div>
  <div class="text-center">
    <span>Like the way this is looking? Set up a meeting with your advisor to discuss changes to your financial picture. We’ll send these settings as reference.</span><br/>
    <a class="button btn btn-primary btn-block" ng-click="SandBoxCtrl.saveSandBox()" analytics-on="click" analytics-event="selected sandbox save" analytics-category="Client - MVFP" analytics-label="goal type_sandbox" data-elm-id="{{getAutomationId('sandbox-look-good','button')}}">Looks Good</a>
    <a href="#" class="button btn btn-default btn-block" ng-click="SandBoxCtrl.resetSandboxCtrls()" analytics-on="click" analytics-event="selected sandbox reset" analytics-category="Client - MVFP" analytics-label="goal type_sandbox" data-elm-id="{{getAutomationId('sandbox-reset','button')}}">Reset</a>
  </div>
</div>