<div class="show-sandbox-popover text-center">
  <p>Here you can make changes to your financial picture in realtime and it won’t affect your real finances.</p>
  <div class="row">
    <div class="col-sm-12"><button class="btn btn-default btn-block" ng-click="SandBoxCtrl.hidePopover()">Got It!</button></div>
  </div>
</div>
