<div ng-if="!SandBoxCtrl.isSandBox" ng-controller="AppointmentsController as appointmentCtrl">
  <div class="col-sm-12 widget" ng-if="SandBoxCtrl.isCashFlowTab()">
    <div ng-if="!SandBoxCtrl.isEditable">
      <button class="btn btn-success btn-block" ng-click="SandBoxCtrl.editable()">Edit Cash Flow</button>
    </div>
    <div ng-if="SandBoxCtrl.isEditable" ng-include="'app/client/dashboard/views/_edit-cash-flow.html'">

    </div>
  </div>
  <div ng-if="!conferenceCtrl.isAdhocMeeting && !conferenceCtrl.isSessionProgess() && appointmentCtrl.isCallAbtToStart" ng-include="'app/client/dashboard/views/_join-appointment-widget.html'"></div>
  <div ng-if="conferenceCtrl.isAdhocMeeting" ng-include="'app/client/dashboard/views/_get-ad-hoc-call-details.html'"></div>
  <div ng-include="'app/client/dashboard/views/_sandbox-widget.html'"></div>
  <div ng-show="SandBoxCtrl.isGoalsTab()" ng-include="'app/client/dashboard/views/_edit-goal-widget.html'"></div>
  <div ng-include="'app/client/dashboard/views/_advisor-details-widget.html'"></div>
  <div ng-if="!conferenceCtrl.isAdhocMeeting && !conferenceCtrl.isSessionProgess() && !appointmentCtrl.isCallAbtToStart" ng-include="'app/client/dashboard/views/_upcoming-appointments-widget.html'"></div>
</div>
<div ng-if="SandBoxCtrl.isSandBox">
  <div ng-include="'app/client/dashboard/views/_sandbox-controls.html'"></div>
</div>
