<div class="col-sm-12 widget appointment-box">
  <div ng-if="appointmentCtrl.upcomingAppointment">
    <p>You are in-the-books to meet your advisor on {{appointmentCtrl.getFormattedAppointmentDate(appointmentCtrl.upcomingAppointment.startDate)}}</p>
    <p class="text-muted" ng-if="appointmentCtrl.isVideoCall()">Video Conference</p>
    <p class="text-muted" ng-if="!appointmentCtrl.isVideoCall()">Phone Call - {{ appointmentCtrl.upcomingAppointment.callbackNumber | phone }}</p>
    <a class="btn btn-default btn-block top-margin" data-elm-id="{{getAutomationId('cancel-appointment','button')}}">Cancel Appointment</a>
  </div>
  <div ng-if="!appointmentCtrl.upcomingAppointment">
    <p>You have no upcoming appointments</p>
    <a ui-sref="client.appointment.schedule.session-type" class="btn btn-default btn-block" ng-if="!conferenceCtrl.isSessionProgess() && !conferenceCtrl.isAdvisorDecline()" analytics-on="click" analytics-event="selected to schedule appointment" analytics-category="Client - Calendar / Scheduling" analytics-label="location - dashboard" data-elm-id="{{getAutomationId('schedule-appointment','button')}}">Schedule an Appointment</a>
  </div>
  <div ng-if="appointmentCtrl.missedAppointment">
    <p>Looks like we missed you on your last appointment on Aug 19, 2016 at 2:00pm</p>
    <a class="btn btn-default btn-block top-margin" data-elm-id="{{getAutomationId('reschedule-appointment','button')}}">Reschedule Appointment</a>
  </div>
  <a class="btn btn-link" ng-click="conferenceCtrl.initSession(true)" ng-disabled="conferenceCtrl.isSessionProgess() && !conferenceCtrl.isAdvisorDecline()" ng-if="!conferenceCtrl.isSessionProgess()"  data-elm-id="{{getAutomationId('need-urgent-help','link')}}">Need urgent help?</a>
</div>
