<div ng-controller="SandBoxController as SandBoxCtrl" class="client-dashboard">
  <div class="page-tabs">
    <div class="container">
      <div class="row">
        <ul class="tabset pull-left">
          <li><a href="#" ng-class="{ 'active': SandBoxCtrl.tabIndex === 1 }" ng-click="SandBoxCtrl.setTab(1)" data-elm-id="{{getAutomationId('net-worth','link')}}">Net Worth</a></li>
          <li><a href="#" ng-class="{ 'active': SandBoxCtrl.tabIndex === 2 }" ng-click="SandBoxCtrl.setTab(2)" data-elm-id="{{getAutomationId('cash-flow','link')}}">Cash Flow</a></li>
          <li><a href="#" ng-class="{ 'active': SandBoxCtrl.tabIndex === 3 }" ng-click="SandBoxCtrl.setTab(3)" ng-hide="SandBoxCtrl.isSandBox" data-elm-id="{{getAutomationId('goals','link')}}">Goals <span class="badge">2</span></a></li>
          <li><a href="#" ng-class="{ 'active': SandBoxCtrl.tabIndex === 4 }" ng-click="SandBoxCtrl.setTab(4)" ng-hide="SandBoxCtrl.isSandBox" data-elm-id="{{getAutomationId('recommendations','link')}}">Recommendations</a></li>
        </ul>
        <a href="#" class="pull-right" ng-show="SandBoxCtrl.isSandBox" ng-click="SandBoxCtrl.deactivateSandBox()" data-elm-id="{{ getAutomationId('close-sandbox', 'link') }}">Close Sandbox</a>
        <a href="#" class="pull-right" ng-show="SandBoxCtrl.isEditable" ng-click="SandBoxCtrl.closeEditable()">Close Edit</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" ng-class="{ 'row-eq-height': SandBoxCtrl.isDesktop }">
      <div class="col-md-9 no-left-padding">
        <div ng-show="SandBoxCtrl.tabIndex === 1">
          <div ng-include="'app/client/dashboard/views/_net-worth.html'"></div>
        </div>
        <div ng-show="SandBoxCtrl.tabIndex === 2">
          <div ng-include="'app/client/dashboard/views/_cash-flow.html'"></div>
        </div>
        <div ng-show="SandBoxCtrl.tabIndex === 3">
          <div ng-include="'app/client/dashboard/views/_goals.html'"></div>
        </div>
      </div>
      <div class="col-md-3 right-column" ng-controller="ClientConferenceController as conferenceCtrl">
        <div class="row">
          <div ng-include="'app/client/dashboard/views/_conference-widget.html'"></div>
          <div ng-include="'app/client/dashboard/views/_sidebar-widgets.html'"></div>
        </div>
      </div>
    </div>
  </div>
</div>
