.add-goal {
  text-align: center;
  .container {
    max-width: 620px;
  }
  .input-form {
    margin: $space-md auto 0;
    max-width: 380px;
  }
}

.confirmation-field {
  overflow: hidden;
  margin: $space-lg auto;
  border-bottom: 1px solid $color-c16;
}
